<template>
    <div>
        <div>
            <div class="search-wrapper">
                <div class="search-input-div input-near-search">
                    <input v-model="searchQuery" type="text" placeholder=
                        "Введите название интересующей Вас категории или оставьте поле пустым для вывода всех категорий"
                           @keydown.enter="changePageToFirst(); fetchCategories()">
                    <i class="material-icons button-icon-search search-near-input" @click="changePageToFirst(); fetchCategories()">search</i>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h3>Все категории</h3>
        </div>
        <section>
            <div class="home-products">
                <div class="home-products-item" v-for="category in categories" :key="category.id">
                    <router-link :to="{ name: 'single-category', params: { id: category.id } }">
                        <div class="category-title">{{ category.name }}</div>
                    </router-link>
                </div>
            </div>

            <pagination-service
                :current-page="currentPage"
                :total-pages="totalPages"
                @prev-page="goPrevPage"
                @next-page="goNextPage"
                @change-page="changePage"
            ></pagination-service>

        </section>
    </div>
</template>

<script>
import axios from "axios";
import PaginationService from "@/components/PaginationService.vue";

export default {
    components: {
        PaginationService
    },
    data() {
        return {
            categories: [],
            currentPage: 1,
            limit: 12,
            totalCategories: 0,
            totalPages: 0,
            searchQuery: ''
        }
    },
    methods: {
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.fetchCategories();
        },
        changePageToFirst() {
            this.currentPage = 1;
        },
        async fetchCategories() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/categories', {
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    name: this.searchQuery
                }
            })
                .then((response) => {
                    this.totalCategories = response.data.total;
                    this.totalPages = Math.ceil(this.totalCategories / this.limit);
                    this.categories = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        goPrevPage() {
            if (this.currentPage > 1) {
                --this.currentPage;
                this.fetchCategories();
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPages) {
                ++this.currentPage;
                this.fetchCategories();
            }
        },
    },
    mounted() {
        this.fetchCategories();
    }
}
</script>