<template>
    <div>
        <h1>Создать новую категорию</h1>

        <div class="input-field input-create">
            <input type="text" id="name" v-model="category.name" @input="resetErrorName">
            <label for="name">Название категории:</label>
            <small class="helper-text invalid">{{ errors['errorName'] }}</small>
        </div>
        <div class="create-user-button">
            <div class="create-message" v-html="successMessage"></div>
            <i class="material-icons button-icon-create" @click="createCategory">add_to_photos</i>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            category: {
                name: ''
            },
            token: localStorage.getItem('authorizedUserToken'),
            errors: [],
            successMessage: ''
        };
    },
    methods: {
        async createCategory() {
            axios.post(process.env.VUE_APP_BASE_URL + 'api/categories', {
                name: this.category.name
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(response => {
                    let categoryId = response.data.id;
                    this.successMessage = `Категория создана. Для ее просмотра Вы можете воспользоваться
                       <a href="${process.env.VUE_APP_THIS_URL}categories/show/${categoryId}">следующей ссылкой</a>.`;
                })
                .catch(error => {
                    if ('name' in error.response.data.errors) {
                        this.errors['errorName'] = error.response.data.errors.name[0];
                    }
                });
        },
        resetErrorName() {
            if ((this.errors.errorName !== '') && (this.category.name.length > 0)) {
                this.errors.errorName = '';
            }
        }
    }
};
</script>
