<template>
    <div>
        <div class="my-page-title">
            <h3>{{ category.name }}</h3>
        </div>
        <section>
            <div class="product-container">
                <div class="single-product">
                    <div class="single-product-title"><span>{{ category.name }}</span></div>
                    <small class="helper-text invalid">{{ errors['errorDelete'] }}</small>
                </div>
            </div>
            <div v-if="authorizedUserRoles && authorizedUserRoles.includes('admin')" class="admin-buttons">
                <i class="material-icons button-icon-edit-delete" @click="redirectToUpdatePage">edit</i>
                <i class="material-icons button-icon-edit-delete" @click="deleteCategory">delete_forever</i>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";

export default {
    data() {
        return {
            category: [],
            categoryId: this.$route.params.id,
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            token: localStorage.getItem('authorizedUserToken'),
            errors: []
        }
    },
    methods: {
        async fetchCategories() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/categories/' + this.categoryId)
                .then((response) => {
                    this.category = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        redirectToUpdatePage() {
            this.$router.push('/categories/update/' + this.categoryId);
        },
        async deleteCategory() {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/categories/' + this.categoryId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    router.push('/categories');
                })
                .catch(error => {
                    this.errors['errorDelete'] = error.response.data.errors.error[0];
                })
        }
    },
    mounted() {
        this.fetchCategories();
        this.userRole = localStorage.getItem('userRole');
    }
}
</script>