<template>
    <div>
        <div class="page-title">
            <h3>Редактировать категорию</h3>
        </div>
        <section>
            <div class="single-user">
                <div class="user-id"><span>ID:</span> {{ originalCategory.id }}</div>
                <div class="user-login"><span>Название:</span> {{ originalCategory.name }}</div>
                <input type="text" id="name" v-model="category.name" placeholder="Новое название" @input="resetErrorName">
                <small class="helper-text invalid">{{ errors['errorName'] }}</small>
                <div class="update-button">
                    <p class="above-icon-save">Применить изменения:</p>
                    <p><i class="material-icons button-icon-save" @click="updateCategory">save</i></p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";

export default {
    data() {
        return {
            token: localStorage.getItem('authorizedUserToken'),
            originalCategory: [],
            categoryId: this.$route.params.id,
            category: {
                name: ''
            },
            errors: []
        }
    },
    methods: {
        async getOriginalCategory() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/categories/' + this.categoryId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    this.originalCategory = response.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        async updateCategory() {
            const updateData = {};

            if (this.category.name !== '') {
                updateData.name = this.category.name;
            }

            const configs = {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }
            axios.put(process.env.VUE_APP_BASE_URL + 'api/categories/' + this.categoryId, updateData, configs)
                .then(() => {
                    router.push('/categories/show/' + this.categoryId);
                })
                .catch(error => {
                    this.errors['errorName'] = error.response.data.errors.name[0];
                });
        },
        resetErrorName() {
            if ((this.errors.errorName !== '') && (this.category.name.length > 0)) {
                this.errors.errorName = '';
            }
        },
    },
    mounted() {
        this.getOriginalCategory();
    }
}
</script>