<template>
    <div>
        <div>
            <div class="search-wrapper">
                <div class="search-input-div">
                    <input v-model="searchQuery" type="text" placeholder=
                        "Введите название интересующего Вас товара или оставьте поле пустым для вывода всех товаров"
                    @keydown.enter="changePageToFirst(); fetchProducts()">
                </div>
                <div class="select-div-text">
                    Где будем искать:
                </div>
                <div class="input-field select-categories-on-product-page">
                    <select id="category" v-model="categoryId" @change="changePageToFirst(); fetchProducts()">
                        <option v-for="category in categories" :value="category.id" :key="category.id">{{ category.name }}</option>
                    </select>
                </div>
                <i class="material-icons button-icon-search" @click="changePageToFirst(); fetchProducts()">search</i>
            </div>
        </div>
        <div class="page-title">
            <h3>Все товары</h3>
        </div>
        <section>
            <div class="home-products">
                <div class="home-products-item" v-for="product in products" :key="product.id">
                    <div v-if="!product.showDeleteFromCompareButton" class="product-button-compare">
                        <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                            @click="addSingleProductToCompare(product)"
                        >Добавить к&nbsp;сравнению</button>
                    </div>
                    <small v-if="!product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                    <div v-if="product.showDeleteFromCompareButton" class="product-button-compare">
                        <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                @click="deleteSingleProductFromCompare(product)"
                        >Удалить из&nbsp;сравнения</button>
                    </div>
                    <small v-if="product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                    <div class="col s12 m7">
                        <div class="card">
                            <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                            <div class="rating-all-products">
                                <star-rating
                                    :rating="product.average_rating"
                                    :increment="0.01"
                                    :star-size="30"
                                    :read-only="true"
                                ></star-rating>
                            </div>
                            <div v-if="product.images[0]" class="card-image-custom">
                                <img :src="product.images[0].image_path.startsWith('http') ? product.images[0].image_path : imageStorage + product.images[0].image_path">
                            </div>
                            <div v-else class="card-image-custom">
                                <img src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                            </div>
                            <div class="product-title-new">{{ truncatedDescriptions(product.name, 40) }}</div>
                            <div class="card-content product-card">
                                <p>{{ truncatedDescriptions(product.description) }}</p>
                            </div>
                            </router-link>
                            <div class="price-and-shopping-cart">
                                <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                                <div>
                                    {{ product.price }} грн.
                                </div>
                                </router-link>
                                <div v-if="!product.messageAboutShoppingCart" class="with-shopping-cart" @click="addToShoppingCart(this.token, product)">
                                    <i class="material-icons shopping-cart">add_shopping_cart</i>
                                </div>
                                <div v-else class="with-shopping-cart" @click="removeFromShoppingCart(this.token, product)">
                                    <i class="material-icons shopping-cart">remove_shopping_cart</i>
                                </div>
                            </div>
                            <div class="message-about-shopping-cart">
                                <small class="helper-text invalid center">{{ product.messageAboutShoppingCart }}</small>
                            </div>
                        </div>
                        <div v-if="authorizedUserRoles">Оцените товар:
                            <star-rating
                            v-model:rating="product.myRating"
                            :star-size="25"
                        ></star-rating>
                        </div>
                        <div v-if="authorizedUserRoles" class="rating-button">
                            <button class="waves-effect waves-light btn-small" @click="submitRating(product)">Оценить</button>
                        </div>
                        <small class="helper-text invalid">{{ product.messageAboutRating }}</small>
                    </div>
                </div>
            </div>

            <pagination-service
                :current-page="currentPage"
                :total-pages="totalPages"
                @prev-page="goPrevPage"
                @next-page="goNextPage"
                @change-page="changePage"
            ></pagination-service>

        </section>
    </div>
</template>

<script>
import axios from "axios";
import PaginationService from "@/components/PaginationService.vue";
import { goPrevPage } from "@/methods/goPrevPage";
import { goNextPage } from "@/methods/goNextPage";
import StarRating from "vue-star-rating";
import { addProductToCompare, addSingleProductToCompare, deleteProductFromCompare, deleteSingleProductFromCompare }
       from "@/methods/fetchProductToCompare";
import { addToShoppingCart, removeFromShoppingCart } from "@/methods/handleShoppingCart";

export default {
    components: {
        StarRating,
        PaginationService
    },
    data() {
        return {
            products: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            currentPage: 1,
            limit: 12,
            totalProducts: 0,
            totalPages: 0,
            searchQuery: '',
            categoryId: null,
            categories: [],
            userId: localStorage.getItem('authorizedUserId'),
            token: localStorage.getItem('authorizedUserToken'),
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            messageAboutCompare: '',
            productsIdsInShoppingCart: []
        }
    },
    methods: {
        goPrevPage,
        goNextPage,
        addProductToCompare,
        addSingleProductToCompare,
        deleteProductFromCompare,
        deleteSingleProductFromCompare,
        addToShoppingCart,
        removeFromShoppingCart,
        fetchCategories() {
            axios.get(process.env.VUE_APP_BASE_URL + 'api/categories', {
                params: {
                    limit: 100
                }
            })
                .then(response => {
                    this.categories = response.data.data;
                    this.categories.unshift({id: null, name: 'Все категории'});
                })
                .catch(error => {
                    console.log(error);
                });
        },
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.fetchProducts();
        },
        changePageToFirst() {
            this.currentPage = 1;
        },
        async fetchProducts() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/products', {
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    name: this.searchQuery,
                    categoryId: this.categoryId
                }
            })
                .then((response) => {
                    this.totalProducts = response.data.total;
                    this.totalPages = Math.ceil(this.totalProducts / this.limit);
                    this.products = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        async submitRating(product) {
            if (!product.myRating || product.myRating < 1) {
                product.messageAboutRating = 'Оценка не может быть меньше 1-й звезды!';
                return;
            }

            product.messageAboutRating = 'Оценка засчитана!';

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/ratings', {
                productId: product.id,
                userId: this.userId,
                rating: product.myRating
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    this.resetRatingsInscriptions();
                    this.fetchOneRating(product.id);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        async fetchOneRating(productId) {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/ratings/' + productId)
                .then((response) => {
                    const newRating = response.data;
                    const productIndex = this.products.findIndex(product => product.id === productId);
                    if (productIndex !== -1) {
                        this.products[productIndex].average_rating = newRating;
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        resetRatingsInscriptions () {
            for (const product of this.products) {
                product.messageAboutRating = '';
                product.myRating = null;
            }
        },
        truncatedDescriptions(text, maxLength = 100) {
            if (text) {
                if (text.length <= maxLength) {
                    return text;
                }
                const truncatedText = text.substring(0, maxLength);
                return `${truncatedText.substr(
                    0,
                    Math.min(truncatedText.length, truncatedText.lastIndexOf(' '))
                )}...`;
            }
        }
    },
    mounted() {
        this.fetchProducts();
        this.fetchCategories();
    }
}
</script>