<template>
    <div>
        <div class="compare-products-title">
            <h2 v-if="comparedProducts.length > 0">Сравнить товары</h2>
            <h2 v-if="comparedProducts.length < 1">Сначала добавьте
                <router-link :to="{ name: 'products' }">товары</router-link> для сравнения</h2>
        </div>
        <section>
            <div class="product-container">
                <table class="highlight" :class="{ 'compare-table': comparedProducts.length < 9 }">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th v-for="product in comparedProducts" :key="product.id" class="compared-table-top-width-images">
                            <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                            <img class="pictures-in-compare-table" :src="product.image.startsWith('http') ? product.image : imageStorage + product.image">
                            </router-link>
                            <i class="material-icons icons-in-compare-page" @click="deleteFromCompare(product.id)">highlight_off</i>
                        </th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th v-for="product in comparedProducts" :key="product.id" class="compared-table-top center">
                            <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                            {{ product.name }}
                            </router-link>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Длина (см): </td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">{{ product.length }}</td>
                    </tr>
                    <tr>
                        <td>Ширина (см): </td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">{{ product.width }}</td>
                    </tr>
                    <tr>
                        <td>Высота (см): </td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">{{ product.height }}</td>
                    </tr>
                    <tr>
                        <td>Вес (кг): </td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">{{ product.weight }}</td>
                    </tr>
                    <tr v-for="property in presentProperties" :key="property.id">
                        <td>{{ property.custom_name }}: </td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">{{ product.propertyIds.includes(property.id) ? 'да' : '' }}</td>
                    </tr>
                    <tr v-for="characteristic in presentCharacteristics" :key="characteristic.characteristicName">
                        <td>{{ characteristic.characteristicName }}</td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">
                            {{ getProductCharacteristicValue(product.id, characteristic.characteristicName) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Цена: </td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">{{ product.price }} грн.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td v-for="product in comparedProducts" :key="product.id" class="compared-table-body center">
                            <div v-if="!product.messageAboutShoppingCart" class="center">
                                <button class="btn waves-effect waves-light button-to-shopping-cart" type="submit" name="action"
                                        @click="addToShoppingCart(this.token, product)"
                                >В корзину</button>
                            </div>
                            <div v-if="product.messageAboutShoppingCart" class="center">
                                <button class="btn waves-effect waves-light button-to-shopping-cart" type="submit" name="action"
                                        @click="removeFromShoppingCart(this.token, product)"
                                >Отменить</button>
                                <br>
                                <small class="helper-text invalid center small">{{ product.messageAboutShoppingCart }}</small>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import { deleteProductFromCompare } from "@/methods/fetchProductToCompare";
import { sortProperties } from "@/methods/handleProductPropertiesSelect";
import { addToShoppingCart, removeFromShoppingCart } from "@/methods/handleShoppingCart";

export default {
    data() {
        return {
            comparedProducts: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            token: localStorage.getItem('authorizedUserToken'),
            knownProductProperties: [],
            presentProperties: [],
            knownProductCharacteristics: [],
            presentCharacteristics: []
        }
    },
    methods: {
        addToShoppingCart,
        removeFromShoppingCart,
        deleteProductFromCompare,
        async detectProductProperties() {
            let properties = localStorage.getItem('knownProductProperties');

            if (properties) {
                this.knownProductProperties = JSON.parse(properties);
            }

            if (!properties) {
                await axios.get(process.env.VUE_APP_BASE_URL + 'api/product-properties')
                    .then(response => {
                        this.knownProductProperties = response.data;
                        localStorage.setItem('knownProductProperties', JSON.stringify(this.knownProductProperties));
                    })
                    .catch(error => {
                        console.log(error);
                    })
            }
        },
        showComparedProducts() {
            this.comparedProducts = JSON.parse(localStorage.getItem('comparedProducts')) || [];
            this.detectPresentProperties();
        },
        detectPresentProperties() {
            const uniquePropertyIds = [];

            this.comparedProducts.forEach(product => {
                product.propertyIds.forEach(propertyId => {
                    if (!uniquePropertyIds.includes(propertyId)) {
                        uniquePropertyIds.push(propertyId);
                    }
                });
            });

            this.knownProductProperties.forEach(property => {
                if (uniquePropertyIds.includes(property.id)) {
                    this.presentProperties.push(property);
                }
            });

            sortProperties(this.presentProperties);

            this.presentCharacteristics = [];
            this.comparedProducts.forEach((product) => {
                const characteristics = JSON.parse(product.characteristics);
                if (characteristics) {
                    for (const [characteristicName, characteristicValue] of Object.entries(characteristics)) {
                        this.presentCharacteristics.push({
                            productId: product.id,
                            characteristicName: characteristicName,
                            characteristicValue: characteristicValue
                        });
                    }
                }
            });
        },
        deleteFromCompare(productId) {
            this.comparedProducts = [];
            this.presentProperties = [];
            this.deleteProductFromCompare(productId);
            this.detectProductProperties();
            this.showComparedProducts();
        },
        getProductCharacteristicValue(productId, characteristicName) {
            const characteristic = this.presentCharacteristics.find(
                (char) => char.productId === productId && char.characteristicName === characteristicName
            );

            return characteristic ? characteristic.characteristicValue : '';
        }
    },
    mounted() {
        this.detectProductProperties();
        this.showComparedProducts();
    }
}
</script>