<template>
    <div>
        <h1>Создание нового товара</h1>

        <div class="input-field input-create validate">
            <input type="text" id="name" v-model="product.name" @input="resetErrorField('name')">
            <label for="name">Название:</label>
            <small class="helper-text invalid">{{ errors['errorName'] }}</small>
        </div>
        <div class="input-field input-create">
            <input type="number" id="price" v-model="product.price" @input="resetErrorField('price')">
            <label for="price">Цена:</label>
            <small class="helper-text invalid">{{ errors['errorPrice'] }}</small>
        </div>
        <div class="input-field input-create">
            <input type="text" id="description" v-model="product.description" @input="resetErrorField('description')">
            <label for="description">Описание:</label>
            <small class="helper-text invalid">{{ errors['errorDescription'] }}</small>
        </div>
        <div class="input-field input-create">
            <select id="category" v-model="product.categoryId" @change="resetErrorCategoryID">
                <option value="" disabled>Выберите категорию</option>
                <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
            </select>
            <small class="helper-text invalid">{{ errors['errorCategory_id'] }}</small>
        </div>
        <div class="input-field input-create properties-container">
            <div class="properties-container-left-column">
                <div class="input-field input-create">
                    <input type="number" id="weight" v-model="product.weight" @input="resetErrorField('weight')">
                    <label for="weight">Вес (кг):</label>
                    <small class="helper-text invalid">{{ errors['errorWeight'] }}</small>
                </div>
                <div class="input-field input-create">
                    <input type="number" id="length" v-model="product.length" @input="resetErrorField('length')">
                    <label for="length">Длина (см):</label>
                    <small class="helper-text invalid">{{ errors['errorLength'] }}</small>
                </div>
                <div class="input-field input-create">
                    <input type="number" id="width" v-model="product.width" @input="resetErrorField('width')">
                    <label for="width">Ширина (см):</label>
                    <small class="helper-text invalid">{{ errors['errorWidth'] }}</small>
                </div>
                <div class="input-field input-create">
                    <input type="number" id="height" v-model="product.height" @input="resetErrorField('height')">
                    <label for="height">Высота (см):</label>
                    <small class="helper-text invalid">{{ errors['errorHeight'] }}</small>
                </div>
            </div>
            <div class="properties-container-middle-column">
                <p><span>Выбранные свойства:</span></p>
                <ul>
                    <li v-for="selectedPropertyId in selectedPropertyIds" :key="selectedPropertyId">
                        {{ getPropertyById(selectedPropertyId).custom_name }}
                        <i class="material-icons delete-property" @click="comeBackProperty(selectedPropertyId)">delete</i>
                    </li>
                </ul>
            </div>
            <div class="properties-container-right-column">
                <p v-if="knownProductProperties.length"><span>Доступные свойства:</span></p>
                <p v-else><span>Нет доступных свойств:</span></p>
                <select @change="addToSelectProperties" v-model="selectedPropertyId">
                    <option value=null selected>--- Не выбрано ---</option>
                    <option v-for="knownProductProperty in knownProductProperties"
                            :key="knownProductProperty.id"
                            :value="knownProductProperty.id"
                    >{{ knownProductProperty.custom_name }}</option>
                </select>
            </div>
        </div>
        <div>
            <input type="file" multiple @change="filesPrepare">
        </div>
        <div class="create-button">
            <div class="create-message" v-html="successMessage"></div>
            <i class="material-icons button-icon-create" @click="createProduct">add_to_photos</i>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { fetchKnownProperties } from "@/methods/handleProductPropertiesSelect";
import { sortProperties } from "@/methods/handleProductPropertiesSelect";
import { addToSelectProperties } from "@/methods/handleProductPropertiesSelect";
import { deleteFromKnownProperties } from "@/methods/handleProductPropertiesSelect";
import { getPropertyById } from "@/methods/handleProductPropertiesSelect";
import { comeBackProperty } from "@/methods/handleProductPropertiesSelect";

export default {
    data() {
        return {
            product: {
                name: '',
                price: null,
                description: '',
                categoryId: '',
                weight: null,
                length: null,
                width: null,
                height: null,
                camera: '',
                metalCase: '',
                removableBattery: ''
            },
            token: localStorage.getItem('authorizedUserToken'),
            categories: [],
            errors: [],
            successMessage: '',
            files: [],
            knownProductProperties: [],
            listOfPropertiesToDisplay: [],
            selectedPropertyIds: [],
            selectedPropertyId: null
        };
    },
    methods: {
        fetchKnownProperties,
        sortProperties,
        addToSelectProperties,
        deleteFromKnownProperties,
        getPropertyById,
        comeBackProperty,
        fetchCategories() {
            axios.get(process.env.VUE_APP_BASE_URL + 'api/categories', {
                params: {
                    limit: 100
                }
            })
                .then(response => {
                    this.categories = response.data.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        async createProduct() {
            axios.post(process.env.VUE_APP_BASE_URL + 'api/products', {
                name: this.product.name,
                category_id: this.product.categoryId,
                price: this.product.price,
                description: this.product.description,
                weight: this.product.weight,
                length: this.product.length,
                width: this.product.width,
                height: this.product.height,
                property_ids: this.selectedPropertyIds
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(response => {
                    let productId = response.data.id;
                    this.filesUpload(productId);
                    this.successMessage = `Товар успешно добавлен. Для его просмотра Вы можете воспользоваться
                       <a href="${process.env.VUE_APP_THIS_URL}products/show/${productId}">следующей ссылкой</a>.`;
                })
                .catch(error => {
                    console.log(error);

                    const fields = ['name', 'price', 'category_id', 'description', 'weight', 'length', 'width', 'height'];

                    for (const field of fields) {
                        if (field in error.response.data.errors) {
                            this.errors['error' + field.charAt(0).toUpperCase() + field.slice(1)] =
                                error.response.data.errors[field][0];
                        }
                    }
                });
        },
        filesPrepare(event) {
            this.files = event.target.files;
        },
        async filesUpload(productId) {
            if (this.files.length > 0) {

                const formData = new FormData();

                for (let i = 0; i < this.files.length; i++) {
                    formData.append('images[]', this.files[i]);
                }

                await axios.post(process.env.VUE_APP_BASE_URL + 'api/images/' + productId, formData, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        resetErrorField(field) {
            const errorField = 'error' + field.charAt(0).toUpperCase() + field.slice(1);
            if (this.errors[errorField] !== '' && (this.product[field].length > 0 || this.product[field] !== null)) {
                this.errors[errorField] = '';
            }
        },
        resetErrorCategoryID() {
            this.errors.errorCategory_id = '';
        }
    },
    mounted() {
        this.fetchCategories();
        this.fetchKnownProperties();
    }
};
</script>
