<template>
    <div>
        <div class="top-div-on-single-product">
            <div class="my-page-title">
                <h3>{{ product.name }}</h3>
            </div>
        </div>
        <section>
            <div class="product-container">
                <div class="single-product-image">
                    <div class="images-in-product">
                        <div class="rating-container-top">
                            <div class="rating-text">
                                Пользовательский рейтинг:
                            </div>
                            <div class="rating">
                                <star-rating
                                    :rating="product.average_rating"
                                    :increment="0.01"
                                    :star-size="30"
                                    :read-only="true"
                                ></star-rating>
                            </div>
                        </div>
                        <div class="images-in-product-one-big">
                            <img v-if="selectedImage" :src="selectedImage.image_path.startsWith('http') ? selectedImage.image_path : imageStorage + selectedImage.image_path">
                            <img v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                        </div>
                        <div class="images-in-product-many-small">
                            <div v-for="image in product.images" :key="image.id" @click="selectedImage = image">
                                <img class="single-small-image" :src="image.image_path.startsWith('http') ? image.image_path : imageStorage + image.image_path">
                            </div>
                        </div>
                        <div v-if="authorizedUserRoles" class="rating-container-bottom">
                            <div class="rating-text-left">
                                Оцените товар:
                            </div>
                            <div class="rating-stars">
                                <star-rating
                                    v-model:rating="myRating"
                                    :star-size="30"
                                ></star-rating>
                            </div>
                            <div class="rating-button">
                                <i class="material-icons done" @click="submitRating(product)">done</i>
                            </div>
                        </div>
                        <small class="helper-text invalid">{{ messageAboutRating }}</small>
                    </div>
                    <div v-if="showAddToCompareButton" class="button-add-product-to-compare">
                        <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                @click="addProductToCompare(this.productId)"
                        >Добавить к&nbsp;сравнению</button>
                    </div>
                    <div v-if="!showAddToCompareButton" class="button-add-product-to-compare">
                        <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                @click="deleteProductFromCompare(this.productId)"
                        >Удалить из&nbsp;сравнения</button>
                    </div>
                    <div>
                        <small class="helper-text invalid">{{ messageAboutCompare }}</small>
                    </div>
                    <div v-if="authorizedUserRoles && authorizedUserRoles.includes('admin')" class="admin-buttons">
                        <i class="material-icons button-icon-edit-delete" @click="redirectToUpdatePage">edit</i>
                        <i class="material-icons button-icon-edit-delete" @click="deleteProduct">delete_forever</i>
                    </div>
                </div>
                <div class="single-product">
                    <div v-if="!product.messageAboutShoppingCart" class="button-add-product-to-shopping-cart">
                        <button class="btn waves-effect waves-light button-compare-high" type="submit" name="action"
                                @click="addToShoppingCart(this.token, this.product)"
                        ><i class="material-icons shopping-cart-single">add_shopping_cart</i>
                            <br>
                            <span>П</span>оложить&nbsp;в корзину</button>
                    </div>
                    <div v-if="product.messageAboutShoppingCart" class="button-add-product-to-shopping-cart">
                        <button class="btn waves-effect waves-light button-compare-high" type="submit" name="action"
                                @click="removeFromShoppingCart(this.token, this.product)"
                        ><i class="material-icons shopping-cart-single">remove_shopping_cart</i>
                            <br><span>У</span>далить&nbsp;из корзины</button>
                    </div>
                    <div class="single-product-small-text-about-shopping-cart">
                        <small class="helper-text invalid right">{{ product.messageAboutShoppingCart }}</small>
                    </div>
                    <div class="single-product-title single-product-text"><span>{{ product.name }}</span></div>
                    <div class="product-description single-product-text"><span>Описание: &nbsp; </span>{{ product.description }}</div>
                    <div class="product-price single-product-text"><span>Цена: &nbsp; </span>{{ product.price }} грн.</div>
                    <div class="product-category single-product-text"><span>Категория: &nbsp; </span>{{ productCategory.name }}</div>
                    <div class="product-category single-product-text"><span>Вес (кг): &nbsp; </span>{{ product.weight }}</div>
                    <div class="product-category single-product-text"><span>Длина (см): &nbsp; </span>{{ product.length }}</div>
                    <div class="product-category single-product-text"><span>Ширина (см): &nbsp; </span>{{ product.width }}</div>
                    <div class="product-category single-product-text"><span>Высота (см): &nbsp; </span>{{ product.height }}</div>
                    <div v-for="(value, key) in this.productCharacteristics" :key="key" class="product-category single-product-text"><span>{{ value[0] }}: &nbsp; </span>{{ value[1] }}</div>
                    <div v-if="product.properties">
                        <div v-for="property in product.properties" :key="property.id"
                             class="product-category single-product-text">
                            <span>{{ property.custom_name }}: &nbsp; </span>да
                        </div>
                    </div>
                    <div v-if="this.comments.length !== 0" class="comments-container">
                        <div class="comments-head">
                        <h4>Комментарии:</h4>
                        </div>
                        <div v-for="comment in comments" :key="comment.id" class="row-comment">
                            <div v-if="comment.user" class="card white">
                                <div class="comment-top">
                                    <div class="comment-created">
                                        {{ moment(comment.created_at).format('DD MMMM YYYY [at] HH:mm:ss') }}
                                    </div>
                                    <div class="comment-login">
                                        <router-link
                                            v-if="authorizedUserRoles && authorizedUserRoles.includes('admin')"
                                            :to="{ name: 'single-user', params: { id: comment.user.id } }"
                                        >{{ comment.user.login }}:
                                        </router-link>
                                        <span v-else class="instead-link-to-created-user">
                                            {{ comment.user.login }}:
                                        </span>
                                    </div>
                                </div>
                                <div class="card-content justify">
                                    <p :class="{'editing-comment-text': comment.isEditing}">{{ comment.content }}</p>
                                </div>
                                <div v-if="comment.isEditing" class="input-field col s12 comment-edit-field">
                                    <i class="material-icons prefix" @click="saveUpdatedComment(comment)">textsms</i>
                                    <textarea id="textarea2" class="materialize-textarea" data-length="10000"
                                              v-model="textareaValueNew" @keydown.enter="saveUpdatedComment(comment)"
                                    ></textarea>
                                    <label for="textarea2">Textarea</label>
                                </div>
                                <div v-if="authorizedUserRoles && (authorizedUserRoles.includes('admin') || comment.user.id === userId)" class="comment-manage-buttons" :class="{'not-updated': !comment.updated_by}">
                                    <button v-if="!comment.isEditing" class="waves-effect waves-light btn-small" @click="showUpdateField(comment)">Редактировать</button>
                                    <button v-if="!comment.isEditing" class="waves-effect waves-light btn-small" @click="deleteComment(comment.id)">Удалить</button>
                                    <button v-if="comment.isEditing" class="waves-effect waves-light btn-small" @click="saveUpdatedComment(comment)">Сохранить</button>
                                    <button v-if="comment.isEditing" class="waves-effect waves-light btn-small" @click="cancelUpdatingComment(comment)">Отменить</button>
                                </div>
                                <div v-if="comment.updated_by" class="card-action">
                                    Last updated {{ moment(comment.updated_at).format('DD MMMM YYYY [at] HH:mm:ss') }} by&nbsp;
                                    <router-link v-if="authorizedUserRoles && authorizedUserRoles.includes('admin')"
                                                 :to="{ name: 'single-user', params: { id: comment.updated_by_user_id } }"
                                    >{{ comment.updated_by }}
                                    </router-link>
                                    <span v-else class="instead-link-to-edited-user">
                                        {{ comment.updated_by }}
                                    </span>
                                    &nbsp;&nbsp;.
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <button class="btn waves-effect waves-light" type="submit" name="action"
                                        v-if="this.currentPage > 1"
                                        @click="showCommentsBefore"
                                >Загрузить предыдущие
                                </button>
                            </div>
                            <div>
                                <button class="btn waves-effect waves-light" type="submit" name="action"
                                        v-if="totalPages > 0 && this.currentPage < this.totalPages"
                                        @click="showCommentsElse"
                                >Загрузить следующие
                                </button>
                            </div>
                        </div>
                    </div>
                    <div v-if="authorizedUserRoles && authorizedUserRoles.includes('user')" class="add-comment-head">
                        <h4>Добавить комментарий:</h4>
                    </div>
                    <div v-if="authorizedUserRoles && authorizedUserRoles.includes('user')" class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" @click="submitComment">textsms</i>
                                    <textarea id="textarea2" class="materialize-textarea" data-length="10000" v-model="textareaValue" @keydown.enter="submitComment"></textarea>
                                    <label for="textarea2">Textarea</label>
                                    <small class="helper-text invalid center green-text">{{ messageAboutComment }}</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import M from 'materialize-css';
import router from "@/router/router";
import StarRating from 'vue-star-rating';
import moment from "moment";
import {addProductToCompare, deleteProductFromCompare} from "@/methods/fetchProductToCompare";
import { addToShoppingCart, removeFromShoppingCart } from "@/methods/handleShoppingCart";


export default {
    components: {
        StarRating,
    },
    data() {
        return {
            product: [],
            comments: [],
            productCharacteristics: [],
            categories: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            productId: this.$route.params.id,
            limit: 2,
            currentPage: 1,
            totalComments: 0,
            totalPages: 0,
            productCategory: '',
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            token: localStorage.getItem('authorizedUserToken'),
            selectedImage: null,
            userId: +localStorage.getItem('authorizedUserId'),
            myRating: 0,
            messageAboutRating: '',
            messageAboutComment: '',
            messageAboutCompare: '',
            textareaValue: '',
            textareaValueNew: '',
            showAddToCompareButton: true
        }
    },
    computed: {
        moment() {
            return moment
        }
    },
    methods: {
        deleteProductFromCompare,
        addProductToCompare,
        addToShoppingCart,
        removeFromShoppingCart,
        async fetchCategories() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/categories', {
                params: {
                    limit: 100
                }
            })
                .then(response => {
                    this.categories = response.data.data;
                    this.detectCategory(this.product.category_id);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        async fetchProduct() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/products/' + this.productId)
                .then((response) => {
                    this.product = response.data;
                    if (this.product.characteristics) {
                        const characteristics = JSON.parse(this.product.characteristics);
                        const entries = Object.entries(characteristics);
                        this.productCharacteristics = entries.sort((a, b) => a[0].localeCompare(b[0]));
                    }
                    this.showBigImage();
                    this.fetchCategories();
                })
                .catch(error => {
                    console.log(error);
                })
        },
        async fetchComments() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/comments', {
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    productId: this.productId
                }
            })
                .then((response) => {
                    this.totalComments = response.data.total;
                    this.totalPages = Math.ceil(this.totalComments / this.limit);
                    if (this.currentPage > this.totalPages && this.totalPages > 0) {
                        this.currentPage--;
                        this.fetchComments();
                    }
                    this.comments = [...this.comments, ...response.data.data];
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        showCommentsElse() {
            ++this.currentPage;
            this.fetchComments();
        },
        showCommentsBefore() {
            --this.currentPage;
            this.comments = [];
            this.fetchComments();
        },
        async submitComment() {
            if (this.textareaValue.trim() === '') {
                return;
            }

            if (this.textareaValue.length === 1) {
                this.messageAboutComment = 'Комментарий из 1-го символа? Не, ну, это не серьезно! Пишите осмысленные комментарии.';
                return;
            }

            this.messageAboutComment = 'Комментарий добавлен';

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/comments', {
                productId: this.productId,
                comment: this.textareaValue
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    this.textareaValue = '';
                    this.updateCharacterCounter();
                    this.comments = [];
                    this.currentPage = 1;
                    this.fetchComments();
                    this.messageAboutComment = '';
                });
        },
        async deleteComment(commentId) {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/comments/' + commentId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    this.comments = this.comments.filter(comment => comment.id !== commentId);
                    this.comments = [];
                    this.fetchComments();
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        showUpdateField(comment) {
            this.textareaValueNew = '';

            this.comments.forEach((c) => {
                if (c !== comment) {
                    c.isEditing = false;
                }
            });

            comment.isEditing = true;
        },
        async saveUpdatedComment(comment) {
            try {
                await axios.put(process.env.VUE_APP_BASE_URL + 'api/comments/' + comment.id, {
                    comment: this.textareaValueNew
                }, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                });
                const updatedCommentIndex = this.comments.findIndex(c => c.id === comment.id);
                if (updatedCommentIndex !== -1) {
                    const updatedComment = await this.fetchOneComment(comment.id);
                    this.comments[updatedCommentIndex].content = this.textareaValueNew;
                    this.comments[updatedCommentIndex].updated_at = updatedComment.updated_at;
                    this.comments[updatedCommentIndex].updated_by = updatedComment.updated_by;
                    this.comments[updatedCommentIndex].updated_by_user_id = updatedComment.updated_by_user_id;
                    this.comments[updatedCommentIndex].isEditing = false;
                }
            } catch (error) {
                console.log(error);
            }

            this.textareaValueNew = '';
        },
        async fetchOneComment(commentId) {
            try {
                const response = await axios.get(process.env.VUE_APP_BASE_URL + 'api/comments/' + commentId);
                return response.data;
            } catch (error) {
                console.log(error);
            }
        },
        cancelUpdatingComment(comment) {
            comment.isEditing = false;
            this.textareaValueNew = '';
        },
        async submitRating() {
            if (this.myRating < 1) {
                this.messageAboutRating = 'Оценка не может быть меньше 1-й звезды!';
                return;
            }

            this.messageAboutRating = 'Оценка засчитана!';

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/ratings', {
                productId: this.productId,
                userId: this.userId,
                rating: this.myRating
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    this.myRating = null;
                    this.messageAboutRating = '';
                    this.fetchProduct();
                });
        },
        redirectToUpdatePage() {
            this.$router.push('/products/update/' + this.productId);
        },
        async deleteProduct() {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/products/' + this.productId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    router.push('/products');
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        detectCategory(categoryId) {
            if (this.categories.find(category => category.id === categoryId)) {
                this.productCategory = this.categories.find(category => category.id === categoryId);
            } else {
                this.productCategory = {
                    id: categoryId,
                    name: "Не определена"
                }
            }
        },
        showBigImage() {
            if (this.product.images && this.product.images.length > 0) {
                this.selectedImage = this.product.images[0];
            }
        },
        initializeCharacterCounter() {
            const textareaElement = document.querySelector('#textarea2');
            M.CharacterCounter.init(textareaElement);
        },
        updateCharacterCounter() {
            const textareaElement = document.querySelector('#textarea2');
            const instance = M.CharacterCounter.getInstance(textareaElement);
            if (instance) {
                instance.destroy();
            }
            M.CharacterCounter.init(textareaElement);
        }
    },
    mounted() {
        this.fetchProduct();
        this.fetchCategories();
        this.fetchComments();
        this.initializeCharacterCounter();
    }
}
</script>