<template>
    <div>
        <h1>Редактировать товар</h1>

        <section>
            <div class="product-container">
                <div class="single-product-image">
                    <div class="images-in-product">
                        <div class="images-in-product-one-big">
                            <img v-if="originalProduct.images && originalProduct.images.length > 0" :src="originalProduct.images[0].image_path.startsWith('http') ? originalProduct.images[0].image_path : imageStorage + originalProduct.images[0].image_path">
                            <img v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                        </div>
                        <div class="images-in-product-many-small">
                            <div v-for="(image, index) in originalProduct.images" :key="image.id">
                                <img class="single-small-image" @mouseover="showIcon(index)" @mouseleave="hideIcon(index)" :src="image.image_path.startsWith('http') ? image.image_path : imageStorage + image.image_path">
                                <i @click="deleteImage(image.id)" @mouseover="showIcon(index)" @mouseleave="hideIcon(index)" class="material-icons trash-icon-products" :class="{ 'hover': showTrashIcon[index] }">delete</i>
                            </div>
                        </div>
                        <div>
                            <input type="file" multiple @change="imagesPrepare">
                        </div>
                    </div>
                </div>
                <div class="single-product">
                    <div class="single-product-title"><span>{{ originalProduct.name }}</span></div>
                    <input type="text" id="name" v-model="product.name" placeholder="Новое название">
                    <div class="product-description"><span>Описание: </span>{{ originalProduct.description }}</div>
                    <input type="text" id="description" v-model="product.description" placeholder="Новое описание">
                    <div class="product-price"><span>Цена: </span>{{ originalProduct.price }} грн.</div>
                    <input type="number" id="price" v-model="product.price" placeholder="Новая цена">
                    <div class="product-category"><span>Категория: </span>{{ originalProductCategory.name }}</div>
                    <select class="select-in-update-product-page" id="category" v-model="product.category_id">
                        <option value=""><span class="semi-transparent">Не менять категорию</span></option>
                        <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
                    </select>
                    <div class="product-price"><span>Вес (кг): </span>{{ originalProduct.weight }}</div>
                    <input type="number" id="weight" v-model="product.weight" placeholder="Новый вес">
                    <div class="product-price"><span>Длина (см): </span>{{ originalProduct.length }}</div>
                    <input type="number" id="length" v-model="product.length" placeholder="Новая длина">
                    <div class="product-price"><span>Ширина (см): </span>{{ originalProduct.width }}</div>
                    <input type="number" id="height" v-model="product.width" placeholder="Новая ширина">
                    <div class="product-price"><span>Высота (см): </span>{{ originalProduct.height }}</div>
                    <input type="number" id="height" v-model="product.height" placeholder="Новая высота">
                    <div class="input-field input-create properties-container">
                        <div class="properties-container-first-column">
                            <p><span>Выбранные свойства:</span></p>
                            <ul>
                                <li v-for="selectedPropertyId in selectedPropertyIds" :key="selectedPropertyId">
                                    {{ getPropertyById(selectedPropertyId).custom_name }}
                                    <i class="material-icons delete-property" @click="comeBackProperty(selectedPropertyId)">delete</i>
                                </li>
                            </ul>
                        </div>
                        <div class="properties-container-second-column">
                            <p v-if="knownProductProperties.length"><span>Доступные свойства:</span></p>
                            <p v-else><span>Нет доступных свойств:</span></p>
                            <select @change="addToSelectProperties" v-model="selectedPropertyId">
                                <option value=null selected>--- Не выбрано ---</option>
                                <option v-for="knownProductProperty in knownProductProperties"
                                        :key="knownProductProperty.id"
                                        :value="knownProductProperty.id"
                                >{{ knownProductProperty.custom_name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="update-button-with-border-top">
                    <div v-if="originalProductCharacteristics.length > 0" class="product-description custom-center">
                        &nbsp;<br>
                        ДОПОЛНИТЕЛЬНЫЕ ХАРАКТЕРИСТИКИ:</div>
                    <div v-for="(value, key) in originalProductCharacteristics" :key="key" class="custom-left"><span>{{ value[0] }}:</span>
                        <input type="text" v-model="editedCharacteristics[value[0]]">
                    </div>
                    <div class="update-button">
                        <p class="above-icon-save">Применить изменения:</p>
                        <p><i class="material-icons button-icon-save" @click="updateProduct">save</i></p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";
import { reactive } from 'vue';
import { fetchKnownProperties } from "@/methods/handleProductPropertiesSelect";
import { sortProperties } from "@/methods/handleProductPropertiesSelect";
import { addToSelectProperties } from "@/methods/handleProductPropertiesSelect";
import { deleteFromKnownProperties } from "@/methods/handleProductPropertiesSelect";
import { getPropertyById } from "@/methods/handleProductPropertiesSelect";
import { comeBackProperty } from "@/methods/handleProductPropertiesSelect";

export default {
    data() {
        return {
            originalProduct: [],
            originalProductCharacteristics: [],
            editedCharacteristics: {},
            product: {
                name: '',
                price: null,
                description: '',
                category_id: '',
                weight: null,
                length: null,
                width: null,
                height: null,
                camera: '',
                metal_case: '',
                removable_battery: ''
            },
            categories: [],
            originalProductCategory: '',
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            productId: this.$route.params.id,
            userRole: '',
            token: localStorage.getItem('authorizedUserToken'),
            errors: [],
            showTrashIcon: reactive({}),
            knownProductProperties: [],
            listOfPropertiesToDisplay: [],
            selectedPropertyIds: [],
            selectedPropertyId: null
        }
    },
    methods: {
        fetchKnownProperties,
        sortProperties,
        addToSelectProperties,
        deleteFromKnownProperties,
        getPropertyById,
        comeBackProperty,
        detectSelectedPropertyIds() {
            const arrayOfOriginalProductPropertyIds = this.originalProduct.properties.map(obj => obj.id);

            arrayOfOriginalProductPropertyIds.forEach(id => {
                this.selectedPropertyIds.push(id);
            })

            this.knownProductProperties = this.knownProductProperties.filter(obj =>
                                          !arrayOfOriginalProductPropertyIds.includes(obj.id));
        },
        async fetchProduct() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/products/' + this.productId)
                .then((response) => {
                    this.originalProduct = response.data;
                    this.detectSelectedPropertyIds();
                    this.fetchCategories();

                    if (this.originalProduct.characteristics) {
                        const characteristics = JSON.parse(this.originalProduct.characteristics);
                        const entries = Object.entries(characteristics);
                        this.originalProductCharacteristics = entries.sort((a, b) => a[0].localeCompare(b[0]));
                        this.editedCharacteristics = {};
                        for (const [key, value] of entries) {
                            this.editedCharacteristics[key] = value;
                        }
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        async deleteImage(imageId) {
            axios.delete(process.env.VUE_APP_BASE_URL + 'api/images/' + imageId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    this.fetchProduct();
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        async updateProduct() {
            let updateData = {};

            if (this.product.name !== '') {
                updateData.name = this.product.name;
            }

            if (this.product.description !== '') {
                updateData.description = this.product.description;
            }

            if (this.product.price !== null) {
                updateData.price = this.product.price;
            }

            if (this.product.categoryId !== '') {
                updateData.category_id = this.product.categoryId;
            }

            for (const key in this.editedCharacteristics) {
                if (!this.editedCharacteristics[key] || this.editedCharacteristics[key].trim() === '') {
                    delete this.editedCharacteristics[key];
                }
            }

            if (this.originalProductCharacteristics.length > 0) {
                updateData.characteristics = JSON.stringify(this.editedCharacteristics);
            }

            const configs = {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }
            const fields = ['name', 'description', 'price', 'category_id', 'weight', 'length', 'width', 'height'];

            updateData.properties = this.selectedPropertyIds;

            for (const field of fields) {
                if (this.product[field] !== '' && this.product[field] !== null) {
                    updateData[field] = this.product[field];
                }
            }

            try {
                await axios.put(process.env.VUE_APP_BASE_URL + 'api/products/' + this.productId, updateData, configs);
                await this.imagesUpload(this.productId);
                router.push('/products/show/' + this.productId);
            } catch (error) {
                console.log(error);
            }
        },
        fetchCategories() {
            axios.get(process.env.VUE_APP_BASE_URL + 'api/categories', {
                params: {
                    limit: 100
                }
            })
                .then(response => {
                    this.categories = response.data.data;
                    this.detectCategory(this.originalProduct.category_id);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        detectCategory(categoryId) {
            if (this.categories.find(category => category.id === categoryId)) {
                this.originalProductCategory = this.categories.find(category => category.id === categoryId);
            } else {
                this.originalProductCategory = {
                    id: categoryId,
                    name: "Не определена"
                }
            }

        },
        imagesPrepare(event) {
            this.files = event.target.files;
        },
        async imagesUpload(productId) {
            if (this.files && this.files.length > 0) {
                const formData = new FormData();

                for (let i = 0; i < this.files.length; i++) {
                    formData.append('images[]', this.files[i]);
                }

                await axios.post(process.env.VUE_APP_BASE_URL + 'api/images/' + productId, formData, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        resetErrorName() {
            if ((this.errors.errorName !== '') && (this.product.name.length > 0)) {
                this.errors.errorName = '';
            }
        },
        resetErrorDescription() {
            if ((this.errors.errorDescription !== '') && (this.product.description.length > 0)) {
                this.errors.errorDescription = '';
            }
        },
        resetErrorPrice() {
            if ((this.errors.errorPrice !== '') && (this.product.price.length !== null)) {
                this.errors.errorPrice = '';
            }
        },
        showIcon(index) {
            this.showTrashIcon[index] = true;
        },
        hideIcon(index) {
            this.showTrashIcon[index] = false;
        }
    },
    mounted() {
        this.fetchKnownProperties();
        this.fetchProduct();
        this.fetchCategories();
        this.userRole = localStorage.getItem('userRole');
    }
}
</script>