<template>
    <div>
        <div>
            <div class="search-wrapper">
                <div class="search-input-div">
                    <div class="search-input-div-inner">
                        <input v-model="searchProductId" type="number" placeholder=
                            "Введите ID товара, который относится к интересующим Вас заказам, или оставьте поле пустым для вывода заказов со всеми товарами"
                               @keydown.enter="changePageToFirst(); fetchOrders()">
                    </div>
                    <div class="search-input-div-inner input-near-search">
                        <input v-if="authorizedUserRoles.includes('admin')" v-model="searchUserId" type="number" placeholder=
                            "Введите ID пользователя, чьи заказы хотите найти, или оставьте поле пустым
для вывода заказов всех пользователей"
                        @keydown.enter="fetchOrders">
                        <i class="material-icons button-icon-search-for-double-lines"
                           :class="{'search-near-input-double': authorizedUserRoles.includes('admin')}"
                           @click="changePageToFirst(); fetchOrders()">search
                        </i>
                    </div>
                </div>
                <div class="status-currency">
                    <div class="status-select">
                        <select v-model="status" @change="changePageToFirst(); fetchOrders()">
                            <option value="">Все ордера</option>
                            <option value="paid">Оплаченные</option>
                            <option value="unpaid">Ожидает&nbsp;оплаты</option>
                        </select>
                    </div>
                    <div class="currency-text">
                        Отображать в:
                    </div>
                    <div class="status-select">
                        <select v-model="currency" @change="changeRate(); fetchOrders()">
                            <option v-for="(item, index) in currencies" :key="index" :value="item">{{ item }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h3 v-if="authorizedUserRoles.includes('admin')">Все заказы</h3>
            <h3 v-else>Все мои заказы</h3>
        </div>
        <section>
            <div class="home-products">
                <div class="orders-item-in-list" v-for="order in orders" :key="order.id">
                    <router-link :to="{ name: 'single-order', params: { id: order.id } }">
                        <div class="flex">
                            <div class="user-id"><span>ID заказа:</span> {{ order.id }}</div>
                            <div v-if="order.payment_date" class="status payed">
                                Оплачен
                            </div>
                            <div v-else class="status pending">
                                Ожидает&nbsp;оплаты
                            </div>
                        </div>
                        <div class="user-login"><span>ID товара:</span> {{ order.product_id }}</div>
                        <div v-if="order.product" class="product-description"><span>Название товара:</span><br/>{{ order.product.name }}</div>
                        <div v-else>ТОВАР УДАЛЕН</div>
                        <div class="product-image-in-order-list">
                        <img class="pictures-in-product-list" v-if="order.product && order.product.images.length > 0" :src="(order.product.images[0].image_path.startsWith('http') ? order.product.images[0].image_path : this.imageStorage + order.product.images[0].image_path)">
                        <img class="pictures-in-product-list" v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                        </div>
                        <div class="user-email"><span>ID пользователя:</span> {{ order.user_id }}</div>
                        <div class="user-login"><span>Логин пользователя:</span><br/>{{ order.user.login }}</div>
                        <div class="user-login" v-if="order.product && order.product.price"><span>Стоимость заказа:</span> {{ calculateOrderPrice(order.product.price) }} {{ currency }}</div>
                    </router-link>
                        <div class="user-login center-button" v-if="!order.payment_date && order.product && order.product.price">
                            <button class="btn waves-effect waves-light" type="submit" name="action" @click="goToPaymentPage(order.id, calculateOrderPrice(order.product.price), currency)">Оплатить заказ
                                <i class="material-icons right">credit_card</i>
                            </button>
                        </div>
                </div>
            </div>

            <pagination-service
                :current-page="currentPage"
                :total-pages="totalPages"
                @prev-page="goPrevPage"
                @next-page="goNextPage"
                @change-page="changePage"
            ></pagination-service>

        </section>
    </div>
</template>

<script>
import axios from "axios";
import PaginationService from "@/components/PaginationService.vue";
import index from "vuex";
import { detectCurrencies, changeRate, calculateOrderPrice, goToPaymentPage } from "@/methods/handlePayments";

export default {
    computed: {
        index() {
            return index
        }
    },
    components: {
        PaginationService
    },
    data() {
        return {
            orders: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            currentPage: 1,
            limit: 12,
            searchProductId: null,
            searchUserId: null,
            totalOrders: 0,
            totalPages: 0,
            token: localStorage.getItem('authorizedUserToken'),
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            status: '',
            currencies: [],
            currency: 'UAH',
            rate: 1
        }
    },
    methods: {
        goToPaymentPage,
        detectCurrencies,
        changeRate,
        calculateOrderPrice,
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.fetchOrders();
        },
        changePageToFirst() {
            this.currentPage = 1;
        },
        async fetchOrders() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/orders', {
                headers: {
                    Authorization: "Bearer " + this.token
                },
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    status: this.status,
                    product_id: this.searchProductId,
                    user_id: this.searchUserId
                }
            })
                .then((response) => {
                    this.totalOrders = response.data.total;
                    this.totalPages = Math.ceil(this.totalOrders / this.limit);
                    this.orders = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        goPrevPage() {
            if (this.currentPage > 1) {
                --this.currentPage;
                this.fetchOrders();
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPages) {
                ++this.currentPage;
                this.fetchOrders();
            }
        }
    },
    mounted() {
        this.detectCurrencies();
        this.fetchOrders();
    }
}
</script>