<template>
    <div>
        <h1>Добавить новый заказ</h1>

        <div class="input-field input-create">
            <input type="number" v-model="order.productId" @input="resetErrorProduct">
            <label for="product">ID товара:</label>
            <small class="helper-text invalid">{{ errors['errorProduct'] }}</small>
        </div>
        <div class="input-field input-create">
            <input type="number" v-model="order.userId" @input="resetErrorUser">
            <label for="user">ID пользователя:</label>
            <small class="helper-text invalid">{{ errors['errorUser'] }}</small>
        </div>
        <div class="create-user-button">
            <div class="create-message" v-html="successMessage"></div>
            <i class="material-icons button-icon-create" @click="createOrder">add_to_photos</i>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            order: {
                productId: null,
                userId: null
            },
            token: localStorage.getItem('authorizedUserToken'),
            errors: [],
            successMessage: ''
        };
    },
    methods: {
        async createOrder() {
            axios.post(process.env.VUE_APP_BASE_URL + 'api/orders', {
                product_id: this.order.productId,
                user_id: this.order.userId
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(response => {
                        let orderId = response.data.id;
                        this.successMessage = `Заказ создан. Для его просмотра Вы можете воспользоваться
                       <a href="${process.env.VUE_APP_THIS_URL}orders/show/${orderId}">следующей ссылкой</a>.`;

                })
                .catch(error => {
                    if (!error.response.data.errors.product_id && !error.response.data.errors.user_id) {
                        this.errors['errorProduct'] = this.errors['errorUser'] = error.response.data.errors;
                    }

                    if (typeof error.response.data.errors !== 'string' && 'product_id' in error.response.data.errors) {
                        this.errors['errorProduct'] = error.response.data.errors.product_id[0];
                    }

                    if (typeof error.response.data.errors !== 'string' && 'user_id' in error.response.data.errors) {
                        this.errors['errorUser'] = error.response.data.errors.user_id[0];
                    }
                });
        },
        resetErrorProduct() {
            if ((this.errors.errorProduct !== '') && (this.order.productId.length !== null)) {
                this.errors.errorProduct = '';
            }
        },
        resetErrorUser() {
            if ((this.errors.errorUser !== '') && (this.order.userId.length !== null)) {
                this.errors.errorUser = '';
            }
        }
    }
};
</script>
