<template>
    <div>
        <div class="page-title">
            <h3>Показать выбранный заказ</h3>
        </div>
        <section>
            <div class="single-user">
                <div class="flex">
                    <div v-if="order.payment_date" class="status status-single-order payed">
                        Оплачен
                    </div>
                    <div v-else class="status status-single-order pending">
                        Ожидает&nbsp;оплаты
                    </div>
                    <div class="empty">
                        &nbsp;
                    </div>
                </div>
                <div class="user-id"><span>ID:</span> {{ order.id }}</div>
                <div class="user-login"><span>ID товара:</span> {{ order.product_id }}</div>
                <div class="product-description">
                    <span>Название товара: </span>
                    <router-link
                        v-if="isDataLoaded && productInOrder && productInOrder.id"
                        :to="{ name: 'single-product', params: { id: productInOrder.id } }"
                    >
                    {{ productInOrder.name }}
                    </router-link>
                </div>
                <div class="product-description" v-if="!productInOrder">ТОВАР УДАЛЕН</div>
                <img class="pictures-in-product-list" :src="productImagePath">
                <div class="user-email"><span>ID пользователя:</span> {{ order.user_id }}</div>
                <div class="product-description"><span>Логин пользователя: </span>
                <router-link
                    v-if="isDataLoaded && userInOrder && userInOrder.id"
                    :to="{ name: 'single-user', params: { id: userInOrder.id } }"
                >
                    {{ userInOrder.login }}
                </router-link>
                </div>
                <div class="product-description" v-if="!userInOrder">ПОЛЬЗОВАТЕЛЬ УДАЛЕН</div>
                <div v-if="productInOrder" class="order-price">
                    <span>Стоимсть заказа:</span> {{ calculateOrderPrice(productInOrder.price) }} {{ currency }}
                </div>
                <div v-if="authorizeUserRoles.includes('admin')" class="admin-buttons">
                    <i class="material-icons button-icon-edit-delete" @click="redirectToUpdatePage">edit</i>
                    <i class="material-icons button-icon-edit-delete" @click="deleteOrder">delete_forever</i>
                </div>
                <div v-if="!order.payment_date && productInOrder" class="single-order-choose-currency">
                    <p><span>Выберите&nbsp;валюту:</span></p>
                    <select v-model="currency" @change="changeRate(); getOrder()">
                        <option v-for="(item, index) in currencies" :key="index" :value="item">{{ item }}</option>
                    </select>
                </div>
                <div v-if="!order.payment_date && productInOrder" class="pay-order">
                    <p><span>Оплатить:</span></p>
                    <i class="material-icons button-icon-pay"
                       @click="goToPaymentPage(order.id, calculateOrderPrice(productInOrder.price), currency)
                    ">credit_card</i>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";
import { detectCurrencies, changeRate, calculateOrderPrice, goToPaymentPage } from "@/methods/handlePayments";

export default {
    data() {
        return {
            isDataLoaded: false,
            token: localStorage.getItem('authorizedUserToken'),
            authorizeUserRoles: localStorage.getItem('authorizedUserRoles'),
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            order: [],
            userInOrder: [],
            productInOrder: [],
            productImages: null,
            productImagePath: 'https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png',
            orderId: this.$route.params.id,
            currencies: [],
            currency: 'UAH',
            rate: 1
        }
    },
    methods: {
        goToPaymentPage,
        detectCurrencies,
        changeRate,
        calculateOrderPrice,
        async getOrder() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/orders/' + this.orderId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    this.order = response.data;
                    this.productInOrder = this.order.product;
                    this.userInOrder = this.order.user;
                    if (this.productInOrder) {
                        this.productImages = this.productInOrder.images;
                    }
                    if (this.productImages && this.productImages.length > 0) {
                        this.productImagePath = (this.productImages[0].image_path.startsWith('http') ?
                            this.productImages[0].image_path : this.imageStorage + this.productImages[0].image_path);
                    }
                    this.isDataLoaded = true;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        redirectToUpdatePage() {
            this.$router.push('/orders/update/' + this.orderId);
        },
        async deleteOrder() {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/orders/' + this.orderId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    router.push('/orders');
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
    },
    mounted() {
        this.detectCurrencies();
        this.getOrder();
    }
}
</script>