<template>
    <div>
        <div class="page-title">
            <h3>Редактировать заказ</h3>
        </div>
        <section>
            <div class="single-user">
                <div class="user-id"><span>ID:</span> {{ originalOrder.id }}</div>
                <div class="user-login"><span>ID товара:</span> {{ originalOrder.product_id }}</div>
                <input type="number" v-model="order.productId" placeholder="Новый ID товара" @input="resetErrorForeignKey">
                <small class="helper-text invalid">{{ errors['errorForeignKey'] }}</small>
                <div class="user-email"><span>ID пользователя:</span> {{ originalOrder.user_id }}</div>
                <input type="number" v-model="order.userId" placeholder="Новый ID пользователя" @input="resetErrorForeignKey">
                <small class="helper-text invalid">{{ errors['errorForeignKey'] }}</small>
                <div class="update-button">
                    <p class="above-icon-save">Применить изменения:</p>
                    <p><i class="material-icons button-icon-save" @click="updateOrder">save</i></p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";

export default {
    data() {
        return {
            token: localStorage.getItem('authorizedUserToken'),
            originalOrder: [],
            order: [],
            orderId: this.$route.params.id,
            errors: []
        }
    },
    methods: {
        async getOriginalOrder() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/orders/' + this.orderId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    this.originalOrder = response.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        async updateOrder() {
            const updateData = {};

            if (this.order.productId !== '') {
                updateData.product_id = this.order.productId;
            }

            if (this.order.userId !== '') {
                updateData.user_id = this.order.userId;
            }

            const configs = {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }
            axios.put(process.env.VUE_APP_BASE_URL + 'api/orders/' + this.orderId, updateData, configs)
                .then(() => {
                    router.push('/orders/show/' + this.orderId);
                })
                .catch(error => {
                    console.log(error);
                    this.errors['errorForeignKey'] = error.response.data.errors;
                });
        },
        resetErrorForeignKey() {
            if ((this.errors.errorForeignKey !== '') && (this.order.userId !== null)) {
                this.errors.errorForeignKey = '';
            }
        },
    },
    mounted() {
        this.getOriginalOrder();
    }
}
</script>