<template>
    <div>
        <div>
            <div class="search-wrapper">
                <div class="search-input-div">
                    <div class="search-input-div-inner input-near-search">
                        <input v-if="authorizedUserRoles.includes('admin')" v-model="searchUserId" type="number" placeholder=
                            "Введите ID пользователя, чью корзину хотите найти, или оставьте поле пустым
для вывода всех корзин пользователей"
                        @keydown.enter="fetchOneCart">
                        <i class="material-icons button-icon-search-for-double-lines"
                           :class="{'search-near-input-double': authorizedUserRoles.includes('admin')}"
                           @click="changePageToFirst(); fetchOneCart()">search
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h3 v-if="!oneCart">Корзины пользователей</h3>
            <h3 v-else>Корзина пользователя с ID: {{ searchUserId }}</h3>
        </div>
        <section>
            <div class="home-carts">
                <div class="carts-item-in-list" v-for="cart in carts" :key="cart.id">
                    <div class="user-email"><span>Юзер ID:</span> {{ cart.user_id }}</div>
                    <div v-for="(product, index) in cart.carts" :key="product.id" class="cart-product-item">
                        <div @click="searchOneCart(product.user_id)">
                            <div v-if="index === 0 && product.user && product.user.login" class="user-login"><span>Логин:</span><br/>{{ product.user.login }}</div>
                            <div v-if="index === 0 && (!product.user || !product.user.login)" class="user-login"><span>Логин:</span><br/>[ПОЛЬЗОВАТЕЛЬ УДАЛЕН]</div>
                            <div class="user-login border-top"><span>ID товара:</span> {{ product.product_id }}</div>
                            <div class="product-description"><span>Название товара:</span><br/>{{ product.product.name }}</div>
                            <div class="user-login"><span>Цена товара:</span> {{ product.product.price }} грн.</div>
                            <div class="user-login"><span>Количество:</span> {{ product.quantity }} шт.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="searchUserId && oneCart" class="single-cart-for-admin">
                <ul class="collection">
                    <li v-for="product in singleCart" :key="product.id" class="collection-item avatar shopping-cart-inner-content">
                        <div class="shopping-cart-inner-content-left-trash">
                            <i class="material-icons trash-icon-products-in-shopping-cart" @click="removeProductFromShoppingCart(product)">delete</i>
                        </div>

                        <div class="shopping-cart-inner-content-left">
                            <img v-if="product.product.images && product.product.images[0]" class="small-image-in-shopping-cart" :src="product.product.images[0].image_path.startsWith('http') ? product.product.images[0].image_path : imageStorage + product.product.images[0].image_path">
                            <img v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png" class="small-image-in-shopping-cart">
                        </div>

                        <div class="shopping-cart-inner-content-middle">
                            <p class="product-name">
                                <a :href="'/products/show/' + product.product.id">{{ product.product.name }}</a>
                            </p>
                            <p class="product-price">Цена: {{ product.product.price }} грн.</p>
                        </div>

                        <div class="shopping-cart-inner-content-right">
                            <div @click="handleRemoveFromShoppingCart(product)"><i class="material-icons minus">remove</i></div>
                            <div class="amount">
                                <div class="amount-top">{{ product.quantity }}</div>
                                <div>&nbsp;</div>
                            </div>
                            <div @click="handleAddToShoppingCart(product)"><i class="material-icons plus">add</i></div>
                        </div>
                    </li>
                    <li class="total-price">
                        Общая стоимость заказа: &nbsp; {{ totalCartPrice }} грн.
                    </li>
                    <li>
                        <div class="shopping-cart-buttons">
                            <div class="clear-shopping-cart"><button class="btn waves-effect waves-light clear-cart red" @click="deleteShoppingCart">Удалить корзину</button></div>
                            <div v-if="!this.fieldForAddingProduct" class="create-shopping-order"><button class="btn waves-effect waves-light create-order" @click="showFieldForAddingProduct">Добавить<br>товар</button></div>
                            <div v-else class="add-products">
                                <div class="add-products-to-cart">
                                    <div>
                                        <input id="icon_email" type="number" v-model="addedProductId">
                                        <label for="icon_email">Введите ID товара</label>
                                    </div>
                                    <div>
                                        <input id="icon_email" type="number" v-model="addedQuantity">
                                        <label for="icon_email">Введите количество</label>
                                    </div>
                                </div>
                                <div class="add-products-to-cart-bottom">
                                    <button class="btn waves-effect waves-light add-product-button" @click="addProduct">Добавить товар в корзину пользователя</button>
                                </div>
                                <div class="add-products-to-cart-bottom-error">
                                    <small class="helper-text invalid">{{ errors['errorProduct'] }}</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div v-if="!oneCart">
                <pagination-service
                    :current-page="currentPage"
                    :total-pages="totalPages"
                    @prev-page="goPrevPage"
                    @next-page="goNextPage"
                    @change-page="changePage"
                ></pagination-service>
            </div>

        </section>
    </div>
</template>

<script>
import axios from "axios";
import PaginationService from "@/components/PaginationService.vue";
export default {
    components: {
        PaginationService
    },
    data() {
        return {
            carts: [],
            singleCart: [],
            errors: [],
            oneCart: false,
            searchUserId: null,
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            currentPage: 1,
            limit: 3,
            totalCarts: 0,
            totalPages: 0,
            token: localStorage.getItem('authorizedUserToken'),
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            totalCartPrice: 0,
            fieldForAddingProduct: false,
            addedProductId: null,
            addedQuantity: null
        }
    },
    methods: {
        async handleRemoveFromShoppingCart(product) {
            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.searchUserId,
                product_id: product.product.id,
                quantity: 1,
                isAdd: false
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .catch(error => {
                    console.log(error.response.data.errors);
                });

            if (product.quantity > 0) {
                --product.quantity;
            }

            this.calculateTotalPriceLocal();
        },
        async handleAddToShoppingCart(product) {
            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.searchUserId,
                product_id: product.product.id,
                quantity: 1,
                isAdd: true
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .catch(error => {
                    console.log(error.response.data.errors);
                });

            ++product.quantity;

            this.calculateTotalPriceLocal();
        },
        async removeProductFromShoppingCart(product) {
            if (this.searchUserId && product.quantity > 0) {
                await axios.delete(process.env.VUE_APP_BASE_URL + 'api/carts/delete/user/' + this.searchUserId + '/product/' + product.product.id, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
            }

            const productsArray = this.singleCart;

            let index = productsArray.findIndex(item => item.product_id === product.product.id);

            if (index !== -1) {
                productsArray.splice(index, 1);
            }

            this.calculateTotalPriceLocal();
        },
        calculateTotalPriceLocal() {
            let totalPrice = 0;

            for (const key in this.singleCart) {
                const product = this.singleCart[key];
                totalPrice += product.product.price * product.quantity;
            }

            this.totalCartPrice = totalPrice.toFixed(2);
        },
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.fetchCarts();
        },
        changePageToFirst() {
            this.currentPage = 1;
        },
        async fetchCarts() {
            this.oneCart = false;

            this.singleCart = [];

            await axios.get(process.env.VUE_APP_BASE_URL + 'api/carts', {
                headers: {
                    Authorization: "Bearer " + this.token
                },
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                }
            })
                .then((response) => {
                    this.totalCarts = response.data.total;
                    this.totalPages = Math.ceil(this.totalCarts / this.limit);
                    this.carts = response.data.carts;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        async fetchOneCart() {
            if (!this.searchUserId) {
                await this.fetchCarts();
            } else {
                this.oneCart = true;

                this.carts = [];

                await axios.get(process.env.VUE_APP_BASE_URL + 'api/carts/user/' + this.searchUserId, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .then((response) => {
                        this.singleCart = response.data;
                        this.calculateTotalPriceLocal();
                    })
                    .catch(error => {
                        console.log(error.response.data.errors)
                    })
            }
        },
        searchOneCart(userId) {
            this.searchUserId = userId;
            this.fetchOneCart();
        },
        async deleteShoppingCart() {
                await axios.delete(process.env.VUE_APP_BASE_URL + 'api/carts/delete/' + this.searchUserId, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                });

                this.searchUserId = null;

                this.changePageToFirst();

                await this.fetchCarts();
        },
        goPrevPage() {
            if (this.currentPage > 1) {
                --this.currentPage;
                this.fetchCarts();
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPages) {
                ++this.currentPage;
                this.fetchCarts();
            }
        },
        showFieldForAddingProduct() {
            this.fieldForAddingProduct = true;
        },
        async addProduct() {
            if (!this.addedQuantity || this.addedQuantity < 1) {
                this.errors['errorProduct'] = "Количество товара должно быть целым положительным числом";
                return;
            }

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.searchUserId,
                product_id: this.addedProductId,
                quantity: this.addedQuantity,
                isAdd: true
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .then(async () => {
                    this.errors = [];
                    this.fieldForAddingProduct = false;
                    this.addedProductId = null;
                    this.addedQuantity = null;
                    await this.fetchOneCart();
                })
                .catch(error => {
                    this.errors['errorProduct'] = error.response.data.error;
                });
        }
    },
    mounted() {
        this.fetchCarts();
    }
}
</script>