<template>
    <div>
        <h1>Создать новую корзину пользователя</h1>
        <p>Для начала положите в новую корзину первый товар, не забыв указать его количество, а также ID пользователя, которому будет принадлежать корзина:</p>

        <div class="add-products-to-cart-large">
            <div>
                <input type="number" v-model="addedUserId">
                <label>Введите ID пользователя</label>
            </div>
            <div>
                <input type="number" v-model="addedProductId">
                <label>Введите ID товара</label>
            </div>
            <div>
                <input type="number" v-model="addedQuantity">
                <label>Введите количество</label>
            </div>
        </div>
        <div class="add-products-to-cart-bottom-error create-cart-small-text">
            <small class="helper-text invalid">{{ errors['errorProduct'] }}</small>
        </div>

        <div class="create-user-button">
            <p>Далее подтвердите создание корзины нажатием кнопки. После этого Вы будете переадресованы на страницу просмотра/редактирования новой корзины.</p>
            <i class="material-icons button-icon-create" @click="addProduct">add_to_photos</i>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";
export default {
    data() {
        return {
            token: localStorage.getItem('authorizedUserToken'),
            errors: [],
            addedUserId: null,
            addedProductId: null,
            addedQuantity: null
        };
    },
    methods: {
        async addProduct() {
            if (!this.addedUserId || this.addedUserId < 1) {
                this.errors['errorProduct'] = "ID пользователя должно быть целым положительным числом";
                return;
            }

            if (!this.addedProductId || this.addedProductId < 1) {
                this.errors['errorProduct'] = "ID товара должно быть целым положительным числом";
                return;
            }

            if (!this.addedQuantity || this.addedQuantity < 1) {
                this.errors['errorProduct'] = "Количество товара должно быть целым положительным числом";
                return;
            }

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.addedUserId,
                product_id: this.addedProductId,
                quantity: this.addedQuantity,
                isAdd: true
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .then(async () => {
                    this.errors = [];
                    this.addedProductId = null;
                    this.addedQuantity = null;
                    await router.push('/carts/show/' + this.addedUserId);
                    this.addedUserId = null;
                })
                .catch(error => {
                    if (error.response.data.error) {
                        this.errors['errorProduct'] = error.response.data.error;
                    }
                    if (error.response.data.errors) {
                        this.errors['errorProduct'] = error.response.data.errors;
                    }
                });
        }
    }
};
</script>
