<template>
    <div>
        <div class="my-page-title">
            <h3>Корзина пользователя с ID: {{ searchUserId }}</h3>
        </div>
        <section>
            <div class="single-cart-for-admin top-margin">
                <ul class="collection">
                    <li v-for="product in singleCart" :key="product.id" class="collection-item avatar shopping-cart-inner-content">
                        <div class="shopping-cart-inner-content-left-trash">
                            <i class="material-icons trash-icon-products-in-shopping-cart" @click="removeProductFromShoppingCart(product)">delete</i>
                        </div>

                        <div class="shopping-cart-inner-content-left">
                            <img v-if="product.product.images && product.product.images[0]" class="small-image-in-shopping-cart" :src="product.product.images[0].image_path.startsWith('http') ? product.product.images[0].image_path : imageStorage + product.product.images[0].image_path">
                            <img v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png" class="small-image-in-shopping-cart">
                        </div>

                        <div class="shopping-cart-inner-content-middle">
                            <p class="product-name">
                                <a :href="'/products/show/' + product.product.id">{{ product.product.name }}</a>
                            </p>
                            <p class="product-price">Цена: {{ product.product.price }} грн.</p>
                        </div>

                        <div class="shopping-cart-inner-content-right">
                            <div @click="handleRemoveFromShoppingCart(product)"><i class="material-icons minus">remove</i></div>
                            <div class="amount">
                                <div class="amount-top">{{ product.quantity }}</div>
                                <div>&nbsp;</div>
                            </div>
                            <div @click="handleAddToShoppingCart(product)"><i class="material-icons plus">add</i></div>
                        </div>
                    </li>
                    <li class="total-price">
                        Общая стоимость заказа: &nbsp; {{ totalCartPrice }} грн.
                    </li>
                    <li>
                        <div class="shopping-cart-buttons">
                            <div class="clear-shopping-cart"><button class="btn waves-effect waves-light clear-cart red" @click="deleteShoppingCart">Удалить корзину</button></div>
                            <div v-if="!this.fieldForAddingProduct" class="create-shopping-order"><button class="btn waves-effect waves-light create-order" @click="showFieldForAddingProduct">Добавить<br>товар</button></div>
                            <div v-else class="add-products">
                                <div class="add-products-to-cart">
                                    <div>
                                        <input id="icon_email" type="number" v-model="addedProductId">
                                        <label for="icon_email">Введите ID товара</label>
                                    </div>
                                    <div>
                                        <input id="icon_email" type="number" v-model="addedQuantity">
                                        <label for="icon_email">Введите количество</label>
                                    </div>
                                </div>
                                <div class="add-products-to-cart-bottom">
                                    <button class="btn waves-effect waves-light add-product-button" @click="addProduct">Добавить товар в корзину пользователя</button>
                                </div>
                                <div class="add-products-to-cart-bottom-error">
                                    <small class="helper-text invalid">{{ errors['errorProduct'] }}</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";

export default {
    data() {
        return {
            token: localStorage.getItem('authorizedUserToken'),
            errors: [],
            singleCart: [],
            totalCartPrice: 0,
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            fieldForAddingProduct: false,
            addedProductId: null,
            addedQuantity: null,
            searchUserId: this.$route.params.id
        }
    },
    methods: {
        async handleRemoveFromShoppingCart(product) {
            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.searchUserId,
                product_id: product.product.id,
                quantity: 1,
                isAdd: false
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .catch(error => {
                    console.log(error);
                });

            if (product.quantity > 0) {
                --product.quantity;
            }

            this.calculateTotalPriceLocal();
        },
        async handleAddToShoppingCart(product) {
            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.searchUserId,
                product_id: product.product.id,
                quantity: 1,
                isAdd: true
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .catch(error => {
                    console.log(error);
                });

            ++product.quantity;

            this.calculateTotalPriceLocal();
        },
        async removeProductFromShoppingCart(product) {
            if (this.searchUserId && product.quantity > 0) {
                await axios.delete(process.env.VUE_APP_BASE_URL + 'api/carts/delete/user/' + this.searchUserId + '/product/' + product.product.id, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
            }

            const productsArray = this.singleCart;

            let index = productsArray.findIndex(item => item.product_id === product.product.id);

            if (index !== -1) {
                productsArray.splice(index, 1);
            }

            this.calculateTotalPriceLocal();
        },
        calculateTotalPriceLocal() {
            let totalPrice = 0;

            for (const key in this.singleCart) {
                const product = this.singleCart[key];
                totalPrice += product.product.price * product.quantity;
            }

            this.totalCartPrice = totalPrice.toFixed(2);
        },
        async fetchOneCart() {
            if (!this.searchUserId) {
                await this.fetchCarts();
            } else {
                this.oneCart = true;

                this.carts = [];

                await axios.get(process.env.VUE_APP_BASE_URL + 'api/carts/user/' + this.searchUserId, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .then((response) => {
                        this.singleCart = response.data;
                        this.calculateTotalPriceLocal();
                    })
                    .catch(error => {
                        console.log(error.response.data.errors)
                    })
            }
        },
        async deleteShoppingCart() {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/carts/delete/' + this.searchUserId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            });

            this.searchUserId = null;

            await router.push('/carts');
        },
        showFieldForAddingProduct() {
            this.fieldForAddingProduct = true;
        },
        async addProduct() {
            if (!this.addedQuantity || this.addedQuantity < 1) {
                this.errors['errorProduct'] = "Количество товара должно быть целым положительным числом";
                return;
            }

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/carts', {
                user_id: this.searchUserId,
                product_id: this.addedProductId,
                quantity: this.addedQuantity,
                isAdd: true
            }, {
                headers: {Authorization: "Bearer " + this.token}
            })
                .then(async () => {
                    this.errors = [];
                    this.fieldForAddingProduct = false;
                    this.addedProductId = null;
                    this.addedQuantity = null;
                    await this.fetchOneCart();
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                    if (!error.response.data.errors) {
                        this.errors['errorProduct'] = error.response.data.error;
                    }

                    if (error.response.data.errors) {
                        const keys = Object.keys(error.response.data.errors);
                        const firstKey = keys[0];

                        if (Array.isArray(error.response.data.errors[firstKey])) {
                            this.errors['errorProduct'] = error.response.data.errors[firstKey][0];
                        } else {
                            this.errors['errorProduct'] = error.response.data.errors[firstKey];
                        }
                    }
                });
        }
    },
    mounted() {
        this.fetchOneCart();
    }
}
</script>