<template>
    <div class="admin-top">
        <div class="admin-products">
            <h4>Товары</h4>
            <a href="/products">Показать все товары</a>
            <br/><br/>
            <a href="/products/add">Добавить новый товар</a>
        </div>
        <div class="admin-categories">
            <h4>Категории</h4>
            <a href="/categories">Показать все категории</a>
            <br/><br/>
            <a href="/categories/add">Создать новую категорию</a>
        </div>
    </div>
    <div class="admin-bottom">
        <div class="admin-users">
            <h4>Пользователи</h4>
            <a href="/users">Показать всех пользователей</a>
            <br/><br/>
            <a href="/user-roles">Роли всех пользователей</a>
            <br/><br/>
            <a href="/users/add">Добавить нового пользователя</a>
        </div>
        <div class="admin-orders">
            <h4>Заказы</h4>
            <a href="/orders">Показать все заказы</a>
            <br/><br/>
            <a href="/orders/add">Добавить новый заказ</a>
        </div>
    </div>
    <div class="admin-bottom-bottom">
        <div class="admin-carts">
            <h4>Корзины</h4>
            <a href="/carts">Корзины всех пользователей</a>
            <br/><br/>
<!--            <a href="/carts/user">Корзина конкретного пользователя</a>-->
<!--            <br/><br/>-->
<!--            <a href="/carts/product">Корзины с конкретным товаром</a>-->
<!--            <br/><br/>-->
            <a href="/carts/add">Создать новую корзину</a>
        </div>
        <div class="admin-orders white-text">
            empty
        </div>
    </div>
</template>
<script setup>
</script>