<template>
  <div class="center">
      <p>&nbsp;</p>
      Сейчас Вы будете перенаправлены на Главную страницу.
  </div>
</template>

<script>
import axios from "axios";
import router from "@/router/router";
import { fetchUserRoles } from "@/methods/fetchUserRoles";

export default {
    async created() {
        const code = this.$route.query.code;

        if (code) {
            try {
                await this.fetchUserRoles();
                const response = await axios.post(process.env.VUE_APP_BASE_URL + "api/google/callback", {
                    code
                });

                let userId = response.data.user.id;
                let userName = response.data.user.login;
                let userRoles = response.data.user.roles;
                let token = response.data.token.accessToken;
                localStorage.setItem('authorizedUserId', userId);
                localStorage.setItem('authorizedUserName', userName);
                localStorage.setItem('authorizedUserRoles', userRoles);
                localStorage.setItem('authorizedUserToken', token);
                await router.push('/');
            } catch (error) {
                console.error("Ошибка при обработке коллбека Google:", error);
            }
        } else {
            console.error("Код не был получен в параметрах URL.");
        }
},
    methods: {
        fetchUserRoles,
    }
};
</script>