<template>
    <div>
        <div>
            <div class="page-title">
                <h3>Новинки</h3>
            </div>
            <section>
                <div class="home-products">
                    <div class="home-products-item" v-for="product in newProducts" :key="product.id">
                        <div v-if="!product.showDeleteFromCompareButton" class="product-button-compare">
                            <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                    @click="addSingleProductToCompare(product)"
                            >Добавить к&nbsp;сравнению</button>
                        </div>
                        <small v-if="!product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                        <div v-if="product.showDeleteFromCompareButton" class="product-button-compare">
                            <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                    @click="deleteSingleProductFromCompare(product)"
                            >Удалить из&nbsp;сравнения</button>
                        </div>
                        <small v-if="product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                        <div class="col s12 m7">
                                <div class="card">
                                    <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                                    <div class="rating-all-products">
                                        <star-rating
                                            :rating="product.average_rating"
                                            :increment="0.01"
                                            :star-size="30"
                                            :read-only="true"
                                        ></star-rating>
                                    </div>
                                    <div class="card-image-custom">
                                        <img :src="product.images[0] ? (product.images[0].image_path.startsWith('http') ?
                                        product.images[0].image_path : imageStorage + product.images[0].image_path) :
                                'https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png'">
                                    </div>
                                    <div class="product-title-new">{{ truncatedDescriptions(product.name, 37) }}</div>
                                    <div class="card-content product-card">
                                        <p>{{ truncatedDescriptions(product.description) }}</p>
                                    </div>
                                    </router-link>
                                    <div class="price-and-shopping-cart">
                                        <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                                            <div>
                                                {{ product.price }} грн.
                                            </div>
                                        </router-link>
                                        <div v-if="!product.messageAboutShoppingCart" class="with-shopping-cart" @click="addToShoppingCart(this.token, product)">
                                            <i class="material-icons shopping-cart">add_shopping_cart</i>
                                        </div>
                                        <div v-if="product.messageAboutShoppingCart" class="with-shopping-cart" @click="removeFromShoppingCart(this.token, product)">
                                            <i class="material-icons shopping-cart">remove_shopping_cart</i>
                                        </div>
                                    </div>
                                    <div class="message-about-shopping-cart">
                                        <small class="helper-text invalid center">{{ product.messageAboutShoppingCart }}</small>
                                    </div>
                                </div>
                                <div v-if="authorizedUserRoles">Оцените товар:
                                    <star-rating
                                        v-model:rating="product.myRating"
                                        :star-size="30"
                                    ></star-rating>
                                </div>
                                <div v-if="authorizedUserRoles" class="rating-button">
                                    <button class="waves-effect waves-light btn-small" @click="submitRating(product, 'new')">Оценить</button>
                                </div>
                                <small class="helper-text invalid">{{ product.messageAboutRating }}</small>
                            </div>
                    </div>
                </div>
                <div class="home-pagination">
                    <ul class="pagination">
                        <li
                            @click="goPrevPageNew"
                            :class="{ disabled: this.currentPageNew === 1 }"
                        ><a href="#!"><i class="material-icons">chevron_left</i></a>
                        </li>

                        <li
                            v-for="pageNumber in totalPagesNew"
                            :key="pageNumber"
                            :class="{'active': currentPageNew === pageNumber, 'waves-effect': currentPageNew !== pageNumber}"
                            @click="changePageNew(pageNumber)"
                        >
                        <span :class="{ 'hidden': ((pageNumber !== totalPagesNew) || (currentPageNew > (totalPagesNew - 3))) }">
                            &nbsp; ... &nbsp;
                        </span>
                            <a href="#!"
                               :class="{ 'hidden': ((pageNumber < currentPageNew - 1) && (pageNumber !== 1)) ||
                                   (pageNumber > currentPageNew + 1) && (pageNumber !== totalPagesNew) }"
                            >{{ pageNumber }}</a>
                            <span :class="{ 'hidden': ((pageNumber !== 1) || (currentPageNew < 4)) }">
                            &nbsp; ... &nbsp;
                        </span>
                        </li>

                        <li
                            @click="goNextPageNew"
                            class="waves-effect"
                            :class="{ disabled: this.currentPageNew === this.totalPagesNew }"
                        ><a href="#!"><i class="material-icons">chevron_right</i></a>
                        </li>
                    </ul>
                </div>
            </section>

            <div class="page-title">
                <h3>Самые популярные товары</h3>
            </div>
            <section>
                <div class="home-products">
                    <div class="home-products-item" v-for="product in popularProducts" :key="product.id">
                        <div v-if="!product.showDeleteFromCompareButton" class="product-button-compare">
                            <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                    @click="addSingleProductToCompare(product)"
                            >Добавить к&nbsp;сравнению</button>
                        </div>
                        <small v-if="!product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                        <div v-if="product.showDeleteFromCompareButton" class="product-button-compare">
                            <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                    @click="deleteSingleProductFromCompare(product)"
                            >Удалить из&nbsp;сравнения</button>
                        </div>
                        <small v-if="product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                        <div class="col s12 m7">
                            <div class="card">
                                <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                                <div class="rating-all-products">
                                    <star-rating
                                        :rating="product.average_rating"
                                        :increment="0.01"
                                        :star-size="30"
                                        :read-only="true"
                                    ></star-rating>
                                </div>
                                <div class="card-image-custom">
                                    <img :src="product.images[0] ? (product.images[0].image_path.startsWith('http') ?
                                    product.images[0].image_path : imageStorage + product.images[0].image_path) :
                            'https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png'">
                                </div>
                                <div class="product-title-new">{{ truncatedDescriptions(product.name, 40) }}</div>
                                <div class="card-content product-card">
                                    <p>{{ truncatedDescriptions(product.description) }}</p>
                                </div>
                                </router-link>
                                <div class="price-and-shopping-cart">
                                    <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                                        <div>
                                            {{ product.price }} грн.
                                        </div>
                                    </router-link>
                                    <div v-if="!product.messageAboutShoppingCart" class="with-shopping-cart" @click="addToShoppingCart(this.token, product)">
                                        <i class="material-icons shopping-cart">add_shopping_cart</i>
                                    </div>
                                    <div v-else class="with-shopping-cart" @click="removeFromShoppingCart(this.token, product)">
                                        <i class="material-icons shopping-cart">remove_shopping_cart</i>
                                    </div>
                                </div>
                                <div class="message-about-shopping-cart">
                                    <small class="helper-text invalid center">{{ product.messageAboutShoppingCart }}</small>
                                </div>
                            </div>
                            <div v-if="authorizedUserRoles">Оцените товар:
                                <star-rating
                                    v-model:rating="product.myRating"
                                    :star-size="30"
                                ></star-rating>
                            </div>
                            <div v-if="authorizedUserRoles" class="rating-button">
                                <button class="waves-effect waves-light btn-small" @click="submitRating(product, 'popular')">Оценить</button>
                            </div>
                            <small class="helper-text invalid">{{ product.messageAboutRating }}</small>
                        </div>
                    </div>
                </div>
                <div class="home-pagination">
                    <ul class="pagination">
                        <li
                            @click="goPrevPagePopular"
                            :class="{ disabled: this.currentPagePopular === 1 }"
                        ><a href="#!"><i class="material-icons">chevron_left</i></a>
                        </li>

                        <li
                            v-for="pageNumber in totalPagesPopular"
                            :key="pageNumber"
                            :class="{'active': currentPagePopular === pageNumber, 'waves-effect': currentPagePopular !== pageNumber}"
                            @click="changePagePopular(pageNumber)"
                        >
                        <span :class="{ 'hidden': ((pageNumber !== totalPagesPopular) || (currentPagePopular > (totalPagesPopular - 3))) }">
                            &nbsp; ... &nbsp;
                        </span>
                            <a href="#!"
                               :class="{ 'hidden': ((pageNumber < currentPagePopular - 1) && (pageNumber !== 1)) ||
                                   (pageNumber > currentPagePopular + 1) && (pageNumber !== totalPagesPopular) }"
                            >{{ pageNumber }}</a>
                            <span :class="{ 'hidden': ((pageNumber !== 1) || (currentPagePopular < 4)) }">
                            &nbsp; ... &nbsp;
                        </span>
                        </li>

                        <li
                            @click="goNextPagePopular"
                            class="waves-effect"
                            :class="{ disabled: this.currentPagePopular === this.totalPagesPopular }"
                        ><a href="#!"><i class="material-icons">chevron_right</i></a>
                        </li>
                    </ul>
                </div>
            </section>

            <div class="search-wrapper">
                <div class="search-input-div">
                    <input v-model="searchQuery" type="text" placeholder=
                        "Введите название интересующего Вас товара или оставьте поле пустым для вывода всех товаров"
                       @keydown.enter="changePageToFirst(); fetchProducts()"
                    >
                </div>
                <div class="select-div-text">
                    Где будем искать:
                </div>
                <div class="input-field select-categories-on-product-page">
                    <select id="category" v-model="categoryId" @change="changePageToFirst(); fetchProducts()">
                        <option v-for="category in categories" :value="category.id" :key="category.id">{{ category.name }}</option>
                    </select>
                </div>
                <i class="material-icons button-icon-search" @click="changePageToFirst(); fetchProducts()">search</i>
            </div>
        </div>
            <div class="page-title">
                <h3>Все товары</h3>
            </div>
        <section>
            <div class="home-products">
                <div class="home-products-item" v-for="product in products" :key="product.id">
                    <div v-if="!product.showDeleteFromCompareButton" class="product-button-compare">
                        <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                @click="addSingleProductToCompare(product)"
                        >Добавить к&nbsp;сравнению</button>
                    </div>
                    <small v-if="!product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                    <div v-if="product.showDeleteFromCompareButton" class="product-button-compare">
                        <button class="btn waves-effect waves-light button-compare" type="submit" name="action"
                                @click="deleteSingleProductFromCompare(product)"
                        >Удалить из&nbsp;сравнения</button>
                    </div>
                    <small v-if="product.showDeleteFromCompareButton" class="helper-text invalid">{{ product.messageAboutCompare }}</small>
                    <div class="col s12 m7">
                        <div class="card">
                            <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                            <div class="rating-all-products">
                                <star-rating
                                    :rating="product.average_rating"
                                    :increment="0.01"
                                    :star-size="30"
                                    :read-only="true"
                                ></star-rating>
                            </div>
                            <div class="card-image-custom">
                                <img :src="product.images[0] ? (product.images[0].image_path.startsWith('http') ?
                                product.images[0].image_path : imageStorage + product.images[0].image_path) :
                            'https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png'">
                            </div>
                            <div class="product-title-new">{{ truncatedDescriptions(product.name, 40) }}</div>
                            <div class="card-content product-card">
                                <p>{{ truncatedDescriptions(product.description) }}</p>
                            </div>
                            </router-link>
                            <div class="price-and-shopping-cart">
                                <router-link :to="{ name: 'single-product', params: { id: product.id } }">
                                    <div>
                                        {{ product.price }} грн.
                                    </div>
                                </router-link>
                                <div v-if="!product.messageAboutShoppingCart" class="with-shopping-cart" @click="addToShoppingCart(this.token, product)">
                                    <i class="material-icons shopping-cart">add_shopping_cart</i>
                                </div>
                                <div v-if="product.messageAboutShoppingCart" class="with-shopping-cart" @click="removeFromShoppingCart(this.token, product)">
                                    <i class="material-icons shopping-cart">remove_shopping_cart</i>
                                </div>
                            </div>
                            <div class="message-about-shopping-cart">
                                <small class="helper-text invalid center">{{ product.messageAboutShoppingCart }}</small>
                            </div>
                        </div>
                        <div v-if="authorizedUserRoles">Оцените товар:
                            <star-rating
                                v-model:rating="product.myRating"
                                :star-size="30"
                            ></star-rating>
                        </div>
                        <div v-if="authorizedUserRoles" class="rating-button">
                            <button class="waves-effect waves-light btn-small" @click="submitRating(product, 'all')">Оценить</button>
                        </div>
                        <small class="helper-text invalid">{{ product.messageAboutRating }}</small>
                    </div>
                </div>
            </div>

            <pagination-service
                :current-page="currentPage"
                :total-pages="totalPages"
                @prev-page="goPrevPage"
                @next-page="goNextPage"
                @change-page="changePage"
            ></pagination-service>

        </section>
    </div>
</template>

<script>
import axios from "axios";
import PaginationService from "@/components/PaginationService.vue";
import { goPrevPage } from "@/methods/goPrevPage";
import { goNextPage } from "@/methods/goNextPage";
import StarRating from "vue-star-rating";
import { addProductToCompare, addSingleProductToCompare, deleteProductFromCompare, deleteSingleProductFromCompare }
    from "@/methods/fetchProductToCompare";
import { addToShoppingCart, removeFromShoppingCart } from "@/methods/handleShoppingCart";


export default {
    components: {
        StarRating,
        PaginationService
    },
    data() {
        return {
            products: [],
            newProducts: [],
            popularProducts: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            currentPage: 1,
            currentPagePopular: 1,
            currentPageNew: 1,
            limit: 4,
            totalProducts: 0,
            totalProductsPopular: 0,
            totalProductsNew: 0,
            totalPages: 0,
            totalPagesPopular: 0,
            totalPagesNew: 0,
            searchQuery: '',
            categoryId: null,
            categories: [],
            userId: localStorage.getItem('authorizedUserId'),
            token: localStorage.getItem('authorizedUserToken'),
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            messageAboutCompare: '',
            productsIdsInShoppingCart: []
        }
    },
    methods: {
        goPrevPage,
        goNextPage,
        addProductToCompare,
        addSingleProductToCompare,
        deleteProductFromCompare,
        deleteSingleProductFromCompare,
        addToShoppingCart,
        removeFromShoppingCart,
        fetchCategories() {
            axios.get(process.env.VUE_APP_BASE_URL + 'api/categories', {
                params: {
                    limit: 100
                }
            })
                .then(response => {
                    this.categories = response.data.data;
                    this.categories.unshift({id: null, name: 'Все категории'});
                })
                .catch(error => {
                    console.log(error);
                });
        },
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.fetchProducts();
        },
        changePagePopular(pageNumber) {
            this.currentPagePopular = pageNumber;
            this.fetchPopularProducts();
        },
        changePageNew(pageNumber) {
            this.currentPageNew = pageNumber;
            this.fetchNewProducts();
        },
        changePageToFirst() {
            this.currentPage = 1;
        },
        async fetchProducts() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/products', {
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    name: this.searchQuery,
                    categoryId: this.categoryId
                }
            })
                .then((response) => {
                    this.totalProducts = response.data.total;
                    this.totalPages = Math.ceil(this.totalProducts / this.limit);
                    this.products = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        async fetchNewProducts() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/products/new', {
                params: {
                    limit: this.limit,
                    page: this.currentPageNew
                }
            })
                .then((response) => {
                    this.totalProductsNew = response.data.total;
                    this.totalPagesNew = Math.ceil(this.totalProductsNew / this.limit);
                    this.newProducts = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        async fetchPopularProducts() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/products/popular', {
                params: {
                    limit: this.limit,
                    page: this.currentPagePopular
                }
            })
                .then((response) => {
                    this.totalProductsPopular = response.data.total;
                    this.totalPagesPopular = Math.ceil(this.totalProductsPopular / this.limit);
                    this.popularProducts = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        async submitRating(product, productType) {
            if (!product.myRating || product.myRating < 1) {
                product.messageAboutRating = 'Оценка не может быть меньше 1-й звезды!';
                return;
            }

           product.messageAboutRating = 'Оценка засчитана!';

            await axios.post(process.env.VUE_APP_BASE_URL + 'api/ratings', {
                productId: product.id,
                userId: this.userId,
                rating: product.myRating
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    this.resetRatingsInscriptions();
                    this.fetchOneRating(product.id, productType);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        async fetchOneRating(productId, productType) {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/ratings/' + productId)
                .then((response) => {
                    const newRating = response.data;

                    if (productType === 'all') {
                        const productIndex = this.products.findIndex(product => product.id === productId);
                        if (productIndex !== -1) {
                            this.products[productIndex].average_rating = newRating;
                        }
                    }

                    if (productType === 'new') {
                        const productIndex = this.newProducts.findIndex(product => product.id === productId);
                        if (productIndex !== -1) {
                            this.newProducts[productIndex].average_rating = newRating;
                        }
                    }

                    if (productType === 'popular') {
                        const productIndex = this.popularProducts.findIndex(product => product.id === productId);
                        if (productIndex !== -1) {
                            this.popularProducts[productIndex].average_rating = newRating;
                        }
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        resetRatingsInscriptions () {
            for (const product of this.products) {
                product.messageAboutRating = '';
                product.myRating = null;
            }
            for (const product of this.newProducts) {
                product.messageAboutRating = '';
                product.myRating = null;
            }
            for (const product of this.popularProducts) {
                product.messageAboutRating = '';
                product.myRating = null;
            }
        },
        goPrevPagePopular() {
            if (this.currentPagePopular > 1) {
                --this.currentPagePopular;
                this.fetchPopularProducts();
            }
        },
        goPrevPageNew() {
            if (this.currentPageNew > 1) {
                --this.currentPageNew;
                this.fetchNewProducts();
            }
        },
        goNextPagePopular() {
            if (this.currentPagePopular < this.totalPages) {
                ++this.currentPagePopular;
                this.fetchPopularProducts();
            }
        },
        goNextPageNew() {
            if (this.currentPageNew < this.totalPages) {
                ++this.currentPageNew;
                this.fetchNewProducts();
            }
        },
        truncatedDescriptions(text, maxLength = 100) {
            if (text) {
                if (text.length <= maxLength) {
                    return text;
                }
                const truncatedText = text.substring(0, maxLength);
                return `${truncatedText.substr(
                    0,
                    Math.min(truncatedText.length, truncatedText.lastIndexOf(' '))
                )}...`;
            }
        },
    },
    mounted() {
        this.fetchProducts();
        this.fetchNewProducts();
        this.fetchPopularProducts();
        this.fetchCategories();
    },
}
</script>