<template>
    <form @submit.prevent="validateLoginForm" class="card auth-card">
        <div v-for="error in errors" :key="error" class="validation-errors">{{ error }}</div>
        <div class="card-content">
            <div class="input-field">
                <input v-model="email" id="email" type="email" class="validate" @input="resetErrorEmail">
                <label for="email">Email</label>
                <small class="helper-text invalid">{{ errors['errorEmail'] }}</small>
            </div>
            <div class="input-field">
                <input v-model="password" id="password" type="password" class="validate" @input="resetErrorPassword">
                <label for="password">Пароль</label>
                <small class="helper-text invalid">{{ errors['errorPassword'] }}</small>
            </div>
        </div>
        <div class="card-action">
            <div>
                <button
                    :disabled="isSubmitting"
                    :class="{'submitting': isSubmitting}"
                    class="btn waves-effect waves-light auth-submit"
                    type="submit"
                >
                    Войти<i class="material-icons right">send</i>
                </button>
            </div>

            <p class="center">
                Нет аккаунта?&nbsp;&nbsp;&nbsp;<a href="/register">Зарегистрироваться!</a>
            </p>
            <p class="center">
                Или войти через Гугл.Аккаунт:
            </p>
            <div class="google-auth">
                <google-auth-vue />
            </div>
        </div>
    </form>
</template>

<script>
import axios from "axios";
import router from "@/router/router";
import { fetchProductProperties } from "@/methods/fetchProductProperties";
import {displayShoppingCartContentFromDataBase} from "@/methods/handleShoppingCart";
import GoogleAuthVue from "@/components/GoogleAuthVue.vue";

export default {
    components: {
        GoogleAuthVue
    },
    data() {
        return {
            email: '',
            password: '',
            errors: [],
            isSubmitting: false,
            isLoggedIn: false,
            userName: ''
        }
    },
    methods: {
        fetchProductProperties,
        displayShoppingCartContentFromDataBase,
        validateLoginForm() {
            this.errors = []
            this.loginAllowed = true;

            if (!this.email) {
                this.loginAllowed = false;
                this.errors['errorEmail'] = 'Email is required!';
            }

            if (!this.password) {
                this.loginAllowed = false;
                this.errors['errorPassword'] = 'Password is required!';
            }

            if (this.loginAllowed) {
                this.submitForm();
            }
        },

        submitForm() {
            this.isSubmitting = true;
            axios.post(process.env.VUE_APP_BASE_URL + 'api/signin', {
                email: this.email,
                password: this.password
            })
                .then(response => {
                    this.fetchUserRoles();
                    this.fetchProductProperties();
                    let userId = response.data[0].id;
                    let userName = response.data[0].login;
                    let userRoles = response.data[0].roles;
                    let token = response.data[1].accessToken;
                    localStorage.setItem('authorizedUserId', userId);
                    localStorage.setItem('authorizedUserName', userName);
                    localStorage.setItem('authorizedUserRoles', userRoles);
                    localStorage.setItem('authorizedUserToken', token);
                    this.displayShoppingCartContentFromDataBase(token, userId);
                    router.push('/');
                })
                .catch(error => {
                    console.log(error)
                    if (error.response.data.errors && typeof (error.response.data.errors) == "string") {
                        this.errors['errorEmail'] = this.errors['errorPassword'] = error.response.data.errors;
                        return;
                    }

                    if ('email' in error.response.data.errors) {
                        this.errors['errorEmail'] = error.response.data.errors.email[0];
                    }

                    if ('password' in error.response.data.errors) {
                        this.errors['errorPassword'] = error.response.data.errors.password[0];
                    }
                })
                .finally(() => {
                    this.isSubmitting = false;
                });
        },

        fetchUserRoles() {
            axios.get(process.env.VUE_APP_BASE_URL + 'api/user-roles')
                .then(response => {
                    const sortedArray = Object.entries(response.data.roles)
                        .sort((a, b) => parseInt(a[1]) - parseInt(b[1]))
                        .map(([id, name]) => ({ id: parseInt(id), name: name }));

                    localStorage.setItem('knownUserRoles', JSON.stringify(sortedArray));
                })
                .catch(error => {
                    console.log(error);
                })
        },

        resetErrorEmail() {
            if ((this.errors.errorEmail !== '') && (this.email.length > 0)) {
                this.errors.errorEmail = '';
            }
        },

        resetErrorPassword() {
            if ((this.errors.errorPassword !== '') && (this.password.length > 0)) {
                this.errors.errorPassword = '';
            }
        },

    }
}
</script>