<template>
    <div></div>
</template>

<script>
import router from "@/router/router";

export default {
    methods: {
        clearLocalStorage() {
            localStorage.clear();
            router.push('/');
        },
        hideShoppingCartIcon() {
            this.$store.commit('hideShoppingCartIcon');
        }
    },
    mounted() {
        this.clearLocalStorage();
        this.hideShoppingCartIcon();
    }
}
</script>