<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>404 Page is not found</h1>
      <br/>
      <a href="/"><h4>Go to the Main page</h4></a>
  </div>
</template>