<template>
    <div class="payment-form">
        <div class="currency-disable">
            {{ currencyDisableMessage }}
            <div class="">
                <button class="small-currency" v-for="(allowedCurrency, index) in allowedCurrencies" :key="index" @click="chooseCurrency(allowedCurrency)">{{ allowedCurrency }}</button>
            </div>
        </div>

        <form @submit.prevent="makePayment">
            <div class="input-field payment-form-row">
                <input id="card-number" type="text" v-model="cardNumber" required>
                <label for="card-number">Номер карты</label>
            </div>
            <div class="payment-data">
                <div class="received-payment-data payment-amount">
                    {{ amount }}
                </div>
                <div class="received-payment-data payment-currency">
                    {{ currency }}
                </div>
                <div class="">
                    <input id="exp-month" type="text" v-model="expMonth" placeholder="Месяц" required>
                </div>
                <div class="">
                    <input id="exp-year" type="text" v-model="expYear" placeholder="Год" required>
                </div>
                <div class="">
                    <input id="cvc" type="text" v-model="cvc" placeholder="CVC" required>
                </div>
            </div>
            <div class="input-field payment-form-row">
                {{ description }}
            </div>
            <button class="payment-button" :class="{ 'hidden': paymentDisable || orderAlreadyPaid }" type="submit">Оплатить</button>
        </form>
    </div>

    <div v-if="showModal" class="payment-page-content">
        <div class="payment-page-content-top">
            <div class="payment-page-content-top-left">&nbsp;</div>
            <div class="payment-page-content-top-middle">&nbsp;</div>
            <div class="payment-page-content-top-right">
                <i class="material-icons" @click="closeModalWindow">close</i>
            </div>
        </div>
        <div class="payment-page-center-red highlight" :class="{ 'black-text': !paymentError && !paymentSuccess, 'red-text': paymentError, 'green-text': paymentSuccess }">
            {{ textAboutPayment }}
        </div>
        <div v-if="paymentError || paymentSuccess" class="payment-page-button-div">
            <div v-if="!paymentError && paymentResult" class="close-payment-page-modal"><button class="btn waves-effect waves-light clear-cart" @click="closeModalWindow">Закрыть ({{ countdown }})</button></div>
            <div v-if="paymentError" class="close-payment-page-modal"><button class="btn waves-effect waves-light clear-cart" @click="closeModalWindow">Закрыть</button></div>
        </div>
    </div>

    <div v-if="showModal" class="payment-page-overlay"></div>

</template>

<script>
import axios from "axios";
import { detectCurrencies } from "@/methods/handlePayments";

export default {
    data() {
        return {
            cardNumber: '',
            expMonth: '',
            expYear: '',
            cvc: '',
            description: '',
            orderId: '',
            amount: '',
            currency: '',
            rate: 1,
            currencies: [],
            allowedCurrencies: [],
            allowedCurrency: 'EUR',
            token: localStorage.getItem('authorizedUserToken'),
            showModal: false,
            paymentSuccess: false,
            paymentError: false,
            paymentResult: false,
            textAboutPayment: 'Wait, please...',
            countdown: 10,
            countdownInterval: null,
            validation: false,
            currencyDisableMessage: '',
            paymentDisable: false,
            orderAlreadyPaid: false,
            originalCurrency: '',
            originalAmount: null
        };
    },
    methods: {
        detectCurrencies,
        chooseCurrency(allowedCurrency) {
            this.currency = allowedCurrency;

            let currencyRates = JSON.parse(localStorage.getItem('currencyRates'));
            let originalCurrencyRate = currencyRates.find(item => item.currency === this.originalCurrency).rate;
            let selectedCurrencyRate = currencyRates.find(item => item.currency === this.currency).rate;
            let multiplier = originalCurrencyRate / selectedCurrencyRate;

            this.amount = Math.ceil(this.originalAmount / multiplier * 100) / 100;

            this.paymentDisable = false;
        },
        getPaymentParams() {
            this.orderId = this.$route.query.orderId;
            this.amount = this.$route.query.amount;
            this.currency = this.$route.query.currency;
            this.description = 'Оплата по заказу №' + this.orderId + '.';
            this.setupCurrency();
        },
        async checkOrderStatus() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/orders/' + this.orderId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(response => {
                    if (response.data.payment_date) {
                        this.orderAlreadyPaid = true;
                    }
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setupCurrency() {
            this.originalCurrency = this.currency;
            this.originalAmount = this.amount;
            let availableCurrencies = JSON.parse(process.env.VUE_APP_AVAILABLE_CURRENCIES);
            if (!availableCurrencies.includes(this.currency)) {
                this.paymentDisable = true;
                this.currencyDisableMessage = 'Предполагаемая сумма оплаты: ' + this.amount + ' ' + this.currency +
                '. Однако данная валюта не доступна для совершения платежа. Выберите доступную валюту из списка ниже:';
                this.currencies.forEach(currency => {
                    if (availableCurrencies.includes(currency)) {
                        this.allowedCurrencies.push(currency);
                    }
                })
            }
        },
        makePayment() {
            this.showModal = true;
            this.textAboutPayment = 'Wait, please...';
            this.paymentSuccess = false;
            this.paymentError = false;
            this.paymentResult = false;

            this.validatePaymentData();

            if (this.currency === 'JPY') {
                this.amount *= 10;
            }

            if (this.validation) {
                const formData = {
                    order_id: this.orderId,
                    card_number: this.cardNumber,
                    exp_month: this.expMonth,
                    exp_year: this.expYear,
                    cvc: this.cvc,
                    payment_description: this.description,
                    amount: this.amount * 100,
                    currency: this.currency,
                };

                axios.post(process.env.VUE_APP_BASE_URL + 'api/payment', formData, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .then(response => {
                        if (response.data.error) {
                            this.textAboutPayment = response.data.error;
                            this.paymentSuccess = false;
                            this.paymentError = true;
                        } else {
                            this.orderAlreadyPaid = true;
                            this.textAboutPayment = response.data.message;
                            this.paymentSuccess = true;
                            this.paymentError = false;
                            this.paymentResult = true;
                            this.startCountdown();
                        }
                    })
                    .catch(error => {
                        this.paymentSuccess = false;
                        this.paymentError = true;

                        if (error.response.data.error) {
                            this.textAboutPayment = error.response.data.error;
                        }

                        if (error.response.data.errors) {
                            this.textAboutPayment = error.response.data.errors;
                        }

                        if (error.response.data.errors && error.response.data.errors.amount) {
                            this.textAboutPayment = error.response.data.errors.amount[0].slice(0, -1) + ' cents.';
                        }
                    });
            } else {
                this.paymentSuccess = false;
                this.paymentError = true;
            }
        },
        validatePaymentData() {
            this.validation = true;

            if (!this.cardNumber.match(/^\d{13,19}$/)) {
                this.validation = false;
                this.textAboutPayment = 'The card number is invalid.';
            }

            if (!this.expMonth.match(/^(0?[1-9]|1[0-2])$/)) {
                this.validation = false;
                this.textAboutPayment = 'The month is invalid.';
            }

            const currentYear = new Date().getFullYear();

            const currentYearLastTwoDigits = currentYear % 100;

            if (!this.expYear.match(/^\d{2}$/) || parseInt(this.expYear) < currentYearLastTwoDigits ||
                parseInt(this.expYear) > currentYearLastTwoDigits + 10) {
                this.validation = false;
                this.textAboutPayment = 'The year is invalid.';
            }

            if (!this.cvc.match(/^\d{3,4}$/)) {
                this.validation = false;
                this.textAboutPayment = 'The CVC is invalid!';
            }
        },
        startCountdown() {
            this.countdownInterval = setInterval(() => {
                if (this.countdown > 0) {
                    this.countdown--;
                } else {
                    this.closeModalWindow();
                    this.countdown = 10;
                }
            }, 1000);
        },
        closeModalWindow() {
            this.cvc = '';
            this.amount = '';
            this.showModal = false;
            clearInterval(this.countdownInterval);
            this.countdown = 10;
        }
    },
    mounted() {
        this.detectCurrencies();
        this.getPaymentParams();
        this.checkOrderStatus();
    }
};
</script>
