<template>
    <form @submit.prevent="validateRegisterForm" class="card auth-card">
        <div class="card-content">
            <div class="input-field">
                <input v-model="login" id="login" type="text" class="validate" @input="resetErrorLogin">
                <label for="login">Login</label>
                <small class="helper-text invalid">{{ errors['errorLogin'] }}</small>
            </div>
            <div class="input-field">
                <input v-model="email" id="email" type="email" @input="resetErrorEmail">
                <label for="email">Email</label>
                <small class="helper-text invalid">{{ errors['errorEmail'] }}</small>
            </div>
            <div class="input-field">
                <p>
                    <label>
                        <input v-model="agreeToTerms" type="checkbox" @click="resetErrorCheckbox">
                        <span>С правилами согласен</span>
                        <small class="helper-text invalid">{{ errors['errorCheckbox'] }}</small>
                    </label>
                </p>
            </div>
        </div>
        <div class="card-action">
            <div>
                <button
                    :disabled="isSubmitting"
                    :class="{'submitting': isSubmitting}"
                    class="btn waves-effect waves-light auth-submit"
                    type="submit"
                >
                    Зарегистрироваться
                    <i class="material-icons right">send</i>
                </button>
            </div>

            <p class="center">
                Уже есть аккаунт?&nbsp;&nbsp;&nbsp;<a href="/login">Войти!</a>
            </p>
            <p class="center">
                Или войти через Гугл.Аккаунт:
            </p>
            <div class="google-auth">
                <google-auth-vue />
            </div>
        </div>
    </form>
</template>

<script>
import axios from "axios";
import router from "@/router/router";
import GoogleAuthVue from "@/components/GoogleAuthVue.vue";

export default {
    components: {
        GoogleAuthVue
    },
    data() {
        return {
            login: '',
            email: '',
            agreeToTerms: false,
            errors: [],
            isSubmitting: false
        }
    },
    methods: {
        validateRegisterForm() {
            this.errors = [];
            this.registerAllowed = true;

            if (!this.login) {
                this.registerAllowed = false;
                this.errors['errorLogin'] = 'Login is required!';
            } else if (this.login.length > 30) {
                this.registerAllowed = false;
                this.errors['errorLogin'] = 'Login must not be more then 30 characters!';
            } else if (!/^[a-zA-Z0-9_-]+$/.test(this.login)) {
                this.registerAllowed = false;
                this.errors['errorLogin'] = 'Login can contain only Latin letters, numbers, hyphen and underscore!';
            }

            if (!this.email) {
                this.registerAllowed = false;
                this.errors['errorEmail'] = 'Email is required!';
            }

            if (!this.agreeToTerms) {
                this.registerAllowed = false;
                this.errors['errorCheckbox'] = 'You must agree to our terms to continue registration!'
            }

            if (this.registerAllowed) {
                this.submitForm();
            }
        },

        submitForm() {
            this.isSubmitting = true;
            axios.post('http://localhost/api/signup', {
                login: this.login,
                email: this.email
            })
                .then(response => {
                    console.log('SUCCESSFUL REGISTRATION:')
                    console.log(response.data);
                    router.push('/login');
                })
                .catch(error => {
                    if ('login' in error.response.data.errors) {
                        this.errors['errorLogin'] = error.response.data.errors.login[0];
                    }

                    if ('email' in error.response.data.errors) {
                        this.errors['errorEmail'] = error.response.data.errors.email[0];
                    }
                })
                .finally(() => {
                    this.isSubmitting = false;
                });
        },
        resetErrorLogin() {
            if ((this.errors.errorLogin !== '') && (this.login.length > 0)) {
                this.errors.errorLogin = '';
            }
        },
        resetErrorEmail() {
            if ((this.errors.errorEmail !== '') && (this.email.length > 0)) {
                this.errors.errorEmail = '';
            }
        },
        resetErrorCheckbox() {
            if ((this.errors.errorCheckbox !== '')) {
                this.errors.errorCheckbox = '';
            }
        },
    }
}
</script>