<template>
    <div>
        <div class="search-wrapper">
            <div class="search-input-div">
                <div class="input-near-search">
                    <input v-model="inputUserLogin" type="text" placeholder=
                        "Введите имя интересующего Вас пользователя или оставьте поле пустым для вывода всех пользователей"
                           @keydown.enter="search">
                    <i class="material-icons button-icon-search-for-user-roles search-near-input-double" @click="search">search</i>
                </div>
                <div class="input-roles-div">
                    Или выбрать список интересующих вас ролей (доступен мультивыбор):
                    <div class="custom-select">
                        <div class="role-label">
                            <label v-if="!selectQueryRoles.length">Клик сюда!</label>
                        </div>
                        <select class="input-roles-field" v-model="selectQueryRoles" multiple>
                            <option v-for="knownRole in knownRoles" :key="knownRole.id" :value="knownRole.id">{{ knownRole.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="highlight">
        <thead>
        <tr>
            <th class="table-login-column">Логин</th>
            <th class="table-roles-column">Роли юзера</th>
            <th class="table-select-column">Добавить роль</th>
            <th class="table-button-column">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users" :key="user.id">
            <td class="table-login-column">{{ user.id }}: {{ user.login }}</td>
            <td v-if="user.roles.length > 0" class="table-roles-column">
                <div v-for="role in user.roles" :key="role.id">
                    {{ getUserRoles(role.id) }}
                    <i v-if="role.id !== 2" class="material-icons delete-role" @click="deleteUserRole(user.id, role.id)">delete</i>
                </div>
            </td>
            <td v-else class="table-roles-column" v-html="'&mdash;'"></td>
            <td class="table-select-column">
                <select class="roles-select" ref="selects" @change="handleRoleSelect(user.id, $event.target.value)">
                    <option value="" selected>Не добавлять</option>
                    <option
                        v-for="availableRole in user.availableRoles"
                        :key="availableRole.id"
                        :value="availableRole.id">{{ availableRole.role }}
                    </option>
                </select>
            </td>
            <td class="table-button-column">
                <button
                    type="submit"
                    class="waves-effect waves-light btn-small"
                    @click="addUserRole(user.id)"
                >Сохранить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="bottom-anchor"></div>
</template>

<script>
import axios from "axios";
import M from 'materialize-css';
export default {
    data() {
        return {
            inputUserLogin: '',
            searchQueryLogin: '',
            selectQueryRoles: [],
            searchQueryRoles: [],
            searchQueryId: null,
            observer: null,
            token: localStorage.getItem('authorizedUserToken'),
            users: [],
            knownRoles: JSON.parse(localStorage.getItem('knownUserRoles')),
            currentPage: 1,
            limit: 10,
            totalUsers: 0,
            totalPages: 0,
            userId: null,
            selectedRoleId: null,
        }
    },
    methods: {
        async fetchUsers() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/users', {
                headers: {
                    Authorization: "Bearer " + this.token
                },
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    login: this.searchQueryLogin,
                    roles: this.searchQueryRoles
                }
            })
                .then((response) => {
                    this.totalUsers = response.data.total;
                    this.totalPages = Math.ceil(this.totalUsers / this.limit);
                    this.users = [...this.users, ...response.data.data];
                    this.addAvailableRoles();
                })
                .catch(error => {
                    console.log(error)
                })
        },
        async fetchOneUser(userId) {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/users/' + userId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    const updatedUser = response.data;
                    const index = this.users.findIndex(user => user.id === updatedUser.id);
                    if (index !== -1) {
                        this.addAvailableRolesToOneUser(updatedUser);
                        this.users[index] = {...updatedUser};
                        this.$forceUpdate();
                    }
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        getUserRoles(id) {
            return this.knownRoles[id - 1].name;
        },
        deleteUserRole(userId, roleId) {
            axios.delete(process.env.VUE_APP_BASE_URL + 'api/roles/' + roleId + '/users/' + userId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(response => {
                    if (response.data.errors) {
                        console.log(response.data.errors);
                    }
                    this.fetchOneUser(userId);
                })
                .catch(error => {
                    console.error(error);
                });
        },
        handleRoleSelect(userId, selectedRoleId) {
            this.userId = userId;
            this.selectedRoleId = selectedRoleId;
        },
        addUserRole(userId) {
            if (userId === this.userId && this.selectedRoleId !== null) {
                const config = {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                };
                axios.post(process.env.VUE_APP_BASE_URL + 'api/roles/' + this.selectedRoleId + '/users/' + userId, {}, config)
                    .then(() => {
                        this.fetchOneUser(userId);
                        this.selectedRoleId = null;
                        this.userId = null;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
            this.resetSelects();
        },
        addAvailableRoles()
        {
            this.users.forEach(user => {
                const userRoleIds = user.roles.map(role => role.id);
                const availableRoles = this.knownRoles.filter(role => !userRoleIds.includes(role.id));
                user.availableRoles = availableRoles.map(role => ({
                    id: role.id,
                    role: role.name
                }));
            });
        },
        addAvailableRolesToOneUser(updatedUser)
        {
            const userRoleIds = updatedUser.roles.map(role => role.id);
            const availableRoles = this.knownRoles.filter(role => !userRoleIds.includes(role.id));
            updatedUser.availableRoles = availableRoles.map(role => ({
                id: role.id,
                role: role.name
            }));
        },
        resetSelects() {
            const selects = this.$refs.selects;
            if (Array.isArray(selects)) {
                selects.forEach(select => {
                    select.selectedIndex = 0;
                });
            } else if (selects) {
                selects.selectedIndex = 0;
            }
        },
        search() {
            this.searchQueryLogin = this.inputUserLogin;
            this.searchQueryRoles = this.selectQueryRoles;
            this.currentPage = 1;
            this.users = [];
            this.totalUsers = 0;
            this.totalPages = 0;
            this.fetchUsers();
        }
    },
    mounted() {
        this.fetchUsers();

        this.observer = new IntersectionObserver(
            (entries) => {
                if (entries[0].isIntersecting && !this.loading && this.currentPage < this.totalPages) {
                    this.currentPage++;
                    this.fetchUsers();
                }
            },
            { threshold: 1 }
        );

        this.observer.observe(document.querySelector('#bottom-anchor'));

        M.FormSelect.init(document.querySelectorAll('select'));
    },
    beforeUnmount() {
        if (this.observer) {
            this.observer.disconnect();
        }
    }
}
</script>
