<template>
    <div class="center">
        <button class="google-btn waves-effect waves-light" @click="authenticateWithGoogle">Войти через Google</button>
    </div>
</template>

<script>
export default {
    methods: {
        authenticateWithGoogle() {
            window.location.href = "https://accounts.google.com/o/oauth2/auth?client_id=" +
                                    process.env.VUE_APP_GOOGLE_CLIENT_ID +
                                    "&redirect_uri=" +
                                    process.env.VUE_APP_GOOGLE_REDIRECT_URI +
                                    "&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email+" +
                                    "https://www.googleapis.com/auth/userinfo.profile";
        }
    }
}
</script>
