<template>
<ul class="sidenav app-sidenav" :class="{
            open: isOpenSidebar,
            close: !isOpenSidebar
        }">
<li v-if="isLoggedIn && isAdmin">
    <a href="/users" class="waves-effect waves-orange pointer">Пользователи</a>
</li>
<li>
    <a href="/categories" class="waves-effect waves-orange pointer">Категории</a>
</li>
<li>
    <a href="/products" class="waves-effect waves-orange pointer">Товары</a>
</li>
<li v-if="isLoggedIn && isAdmin">
    <a href="/carts" class="waves-effect waves-orange pointer">Корзины</a>
</li>
<li v-if="isLoggedIn">
    <a href="/orders" class="waves-effect waves-orange pointer">Заказы</a>
</li>
<li>
    <a href="/products/compare" class="waves-effect waves-orange pointer">Сравнить товары</a>
</li>
</ul>

</template>
<script>
export default {
    props: {
        isLoggedIn: {
            type: Boolean,
            required: true
        },
        isOpenSidebar: {
            type: Boolean,
            required: true
        }
    },
    computed: {
        isAdmin() {
            const authorizedUserRoles = localStorage.getItem('authorizedUserRoles');
            return authorizedUserRoles && authorizedUserRoles.includes('admin');
        }
    }
}
</script>
