<template>
    <div class="home-pagination">
        <ul class="pagination">
            <li
                    @click="goPrevPage"
                    :class="{ disabled: this.currentPage === 1 }"
            ><a href="#!"><i class="material-icons">chevron_left</i></a>
            </li>

            <li
                    v-for="pageNumber in totalPages"
                    :key="pageNumber"
                    :class="{'active': currentPage === pageNumber, 'waves-effect': currentPage !== pageNumber}"
                    @click="changePage(pageNumber)"
            >
                        <span :class="{ 'hidden': ((pageNumber !== totalPages) || (currentPage > (totalPages - 3))) }">
                            &nbsp; ... &nbsp;
                        </span>
                <a href="#!"
                   :class="{ 'hidden': ((pageNumber < currentPage - 1) && (pageNumber !== 1)) ||
                                   (pageNumber > currentPage + 1) && (pageNumber !== totalPages) }"
                >{{ pageNumber }}</a>
                <span :class="{ 'hidden': ((pageNumber !== 1) || (currentPage < 4)) }">
                            &nbsp; ... &nbsp;
                        </span>
            </li>

            <li
                    @click="goNextPage"
                    class="waves-effect"
                    :class="{ disabled: this.currentPage === this.totalPages }"
            ><a href="#!"><i class="material-icons">chevron_right</i></a>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: {
        currentPage: {
            type: Number,
            required: true
        },
        totalPages: {
            type: Number,
            required: true
        }
    },
    methods: {
        goPrevPage() {
            this.$emit('prev-page');
        },
        goNextPage() {
            this.$emit('next-page');
        },
        changePage(pageNumber) {
            this.$emit('change-page', pageNumber);
        }
    }
}
</script>