<template>
    <div v-show="$store.state.shoppingCartContentIsShown && shoppingCartContent" class="shopping-cart-content-wrapper">
        <div ref="cartContent" class="shopping-cart-content" :style="{ top: cartTop }">
            <div class="shopping-cart-on-the-top">
                <div class="shopping-cart-content-top">
                    <div class="shopping-cart-content-top-left"><h2>Ваша корзина</h2></div>
                    <div class="shopping-cart-content-top-right">
                        <i class="material-icons medium" @click="hideShoppingCartContent">highlight_off</i>
                    </div>
                </div>

                <ul class="collection">
                    <li v-for="product in productsInTheShoppingCart" :key="product.id" class="collection-item avatar shopping-cart-inner-content">
                        <div class="shopping-cart-inner-content-left-trash">
                            <i class="material-icons trash-icon-products-in-shopping-cart" @click="removeProductFromShoppingCart(product)">delete</i>
                        </div>

                        <div class="shopping-cart-inner-content-left">
                        <img v-if="product.product.images && product.product.images[0]" class="small-image-in-shopping-cart" :src="product.product.images[0].image_path.startsWith('http') ? product.product.images[0].image_path : imageStorage + product.product.images[0].image_path">
                        <img v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png" class="small-image-in-shopping-cart">
                        </div>

                        <div class="shopping-cart-inner-content-middle">
                            <p class="product-name">
                                <a :href="'/products/show/' + product.product.id">{{ product.product.name }}</a>
                            </p>
                            <p class="product-price">Цена: {{ product.product.price }} грн.</p>
                        </div>

                        <div class="shopping-cart-inner-content-right">
                            <div @click="handleRemoveFromShoppingCart(product)"><i class="material-icons minus">remove</i></div>
                            <div class="amount">
                                <div class="amount-top">{{ product.quantity }}</div>
                                <div>&nbsp;</div>
                            </div>
                            <div @click="handleAddToShoppingCart(product)"><i class="material-icons plus">add</i></div>
                        </div>
                    </li>
                    <li class="total-price">
                        Общая стоимость заказа: &nbsp; {{ totalCartPrice }} грн.
                    </li>
                    <li>
                        <div class="shopping-cart-buttons">
                            <div class="clear-shopping-cart"><button class="btn waves-effect waves-light clear-cart" @click="clearShoppingCart">Очистить корзину</button></div>
                            <div class="create-shopping-order"><button class="btn waves-effect waves-light create-order" @click="handleOrder">Оформить<br>заказ</button></div>
                        </div>
                    </li>
                </ul>

            </div>

            <div v-if="unauthorizedPlacesAnOrder" class="row center">
                <h5>Зарегистрируйтесь, пожалуйста!</h5>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate" v-model="userLogin" @input="resetErrorLogin">
                            <label for="icon_prefix">Введите желаемый логин</label>
                            <small class="helper-text invalid">{{ errors['errorLogin'] }}</small>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_email" type="text" class="validate" v-model="userEmail" @input="resetErrorEmail">
                            <label for="icon_email">Введите Ваш email</label>
                            <small class="helper-text invalid">{{ errors['errorEmail'] }}</small>
                        </div>
                    </div>
                </form>
                <div class="shopping-cart-bottom">
                    <div class="shopping-cart-bottom-left">
                        <div class="input-field">
                            <p>
                                <label>
                                    <input v-model="agreeToTerms" type="checkbox" @click="resetErrorCheckbox">
                                    <span>С правилами согласен</span>
                                    <small class="helper-text invalid">{{ errors['errorCheckbox'] }}</small>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="shopping-cart-bottom-right">
                        <button class="btn waves-effect waves-light" type="submit" name="action" @click="registerAndPlaceOrder">Подтвердить
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="overlay" v-if="$store.state.shoppingCartContentIsShown && shoppingCartContent"></div>
    </div>
</template>

<script>
import {
    addToShoppingCart,
    removeFromShoppingCart,
    calculateTotalPrice
} from "@/methods/handleShoppingCart";
import axios from "axios";
export default {
    data() {
        return {
            cartTop: '',
            products: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            token: localStorage.getItem('authorizedUserToken'),
            userId: +localStorage.getItem('authorizedUserId'),
            totalCartPrice: 0,
            unauthorizedPlacesAnOrder: false,
            userLogin: '',
            userEmail: '',
            errors: [],
            agreeToTerms: false,
        };
    },
    props: {
        shoppingCartContent: {
            type: Boolean,
            required: true,
        },
        productsInTheShoppingCart: {
            type: Array,
            required: true
        }
    },
    methods: {
        calculateTotalPrice,
        addToShoppingCart,
        removeFromShoppingCart,
        hideShoppingCartContent() {
            this.$emit('hide-shopping-cart-content');
        },
        setCartTop() {
            this.$nextTick(() => {
                const cartContent = this.$refs.cartContent;
                if (cartContent) {
                    const halfScreenHeight = window.innerHeight / 2;
                    const halfCartHeight = cartContent.offsetHeight / 2;
                    let topValue = halfScreenHeight - halfCartHeight;
                    if (topValue < 150) {
                        topValue = 150;
                    }
                    this.cartTop = topValue + 'px';
                }
            });
        },
        async clearShoppingCart() {
            if (this.userId) {
                await axios.delete(process.env.VUE_APP_BASE_URL + 'api/carts/delete/' + this.userId, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
            }

            this.$store.commit('hideShoppingCartContent');

            localStorage.setItem('shoppingCart', JSON.stringify([]));
        },
        handleWindowResize() {
            this.setCartTop();
        },
        handleRemoveFromShoppingCart(product) {
            this.removeFromShoppingCart(this.token, product.product, this.userId);
            if (product.quantity > 0) {
                --product.quantity;
            }
            this.calculateTotalPrice();
        },
        handleAddToShoppingCart(product) {
            this.addToShoppingCart(this.token, product.product, this.userId);
            ++product.quantity;
            this.calculateTotalPrice();
        },
        async removeProductFromShoppingCart(product) {
            if (this.userId && product.quantity > 0) {
                await axios.delete(process.env.VUE_APP_BASE_URL + 'api/carts/delete/user/' + this.userId + '/product/' + product.product.id, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
            }

            const productsArray = this.productsInTheShoppingCart;

            let index = productsArray.findIndex(item => item.product_id === product.product.id);
            if (!this.userId) {
                index = productsArray.findIndex(item => item.id === product.product.id);
            }

            if (index !== -1) {
                productsArray.splice(index, 1);
                if (productsArray.length < 1) {
                    this.$store.commit('hideShoppingCartContent');
                }
                localStorage.setItem('shoppingCart', JSON.stringify(productsArray));
            }

            this.calculateTotalPrice();
        },
        handleOrder() {
            if (this.userId) {
                this.placeAnOrder();
            } else {
                this.unauthorizedPlacesAnOrder = true;
            }
        },
        async registerAndPlaceOrder() {
            if (!this.agreeToTerms) {
                this.errors['errorCheckbox'] = 'You must agree to our terms!'
            } else {
                await axios.post(process.env.VUE_APP_BASE_URL + 'api/signup', {
                    login: this.userLogin,
                    email: this.userEmail
                })
                    .then(response => {
                        this.userId = response.data.id;
                        let password = response.data.password;
                        this.authorization(password);
                    })
                    .catch(error => {
                        if ('login' in error.response.data.errors) {
                            this.errors['errorLogin'] = error.response.data.errors.login[0];
                        }

                        if ('email' in error.response.data.errors) {
                            this.errors['errorEmail'] = error.response.data.errors.email[0];
                        }
                    })
            }
        },
        async authorization(password) {
            await axios.post(process.env.VUE_APP_BASE_URL + 'api/signin', {
                email: this.userEmail,
                password: password
            })
                .then(response => {
                    let token = response.data[1].accessToken;
                    this.placeAnOrderFromRecentUser(token);
                })
                .catch(error => {
                    console.log(error);
                })
        },
        async placeAnOrder() {
            this.productsInTheShoppingCart.forEach((product) => {
                const { user_id, product_id, quantity } = product;

                for (let i = 0; i < quantity; i++) {
                    axios.post(process.env.VUE_APP_BASE_URL + 'api/orders', {
                        user_id: user_id,
                        product_id: product_id
                    }, {
                        headers: {
                            Authorization: "Bearer " + this.token
                        }
                    })
                        .catch((error) => {
                            console.log(error);
                        })
                }
            });

            await this.clearShoppingCart();
        },
        async placeAnOrderFromRecentUser(token) {
            this.productsInTheShoppingCart.forEach((product) => {
                const { id, quantity } = product;

                for (let i = 0; i < quantity; i++) {
                    axios.post(process.env.VUE_APP_BASE_URL + 'api/orders', {
                        user_id: this.userId,
                        product_id: id
                    }, {
                        headers: {
                            Authorization: "Bearer " + token
                        }
                    })
                        .catch((error) => {
                            console.log(error);
                        })
                }
            });

            this.$store.commit('hideShoppingCartContent');

            localStorage.setItem('shoppingCart', JSON.stringify([]));
        },
        resetErrorLogin() {
            if ((this.errors.errorLogin !== '') && (this.userLogin.length > 0)) {
                this.errors.errorLogin = '';
            }
        },
        resetErrorEmail() {
            if ((this.errors.errorEmail !== '') && (this.userEmail.length > 0)) {
                this.errors.errorEmail = '';
            }
        },
        resetErrorCheckbox() {
            if ((this.errors.errorCheckbox !== '')) {
                this.errors.errorCheckbox = '';
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.setCartTop();
            window.addEventListener('resize', this.handleWindowResize);
        });

        this.calculateTotalPrice();
    },
    beforeUnmount() {
        window.removeEventListener('resize', this.handleWindowResize);
    },
    watch: {
        productsInTheShoppingCart: {
            immediate: true,
            handler() {
                this.$nextTick(() => {
                    this.setCartTop();
                    this.calculateTotalPrice();
                })
            }
        }
    }
};
</script>
