<template>
    <ul v-if="isLoggedIn" class="right hide-on-small-and-down" ref="menu">
        <li @click="toggleDropdown">
            <a class="dropdown-trigger black-text" href="#" data-target="dropdown" :class="{hidden: internalIsDropdownShow}">
                {{ userName }}
                <i class="material-icons right profile">arrow_drop_down</i>
            </a>
        </li>

        <li class="dropdown-content-outer-li">
            <ul id='dropdown' class='dropdown-content' :class="{visible: internalIsDropdownShow}" @click="handleClickOutside">
                <li v-if="userRoles.includes('admin')">
                    <a :href="baseUrl + 'adminpanel'" class="black-text">
                        <i class="material-icons">person_4</i>Админка
                    </a>
                </li>
                <li>
                    <a :href="baseUrl + 'users/show/myself'" class="black-text">
                        <i class="material-icons">account_circle</i>Профиль
                    </a>
                </li>
                <li class="divider" tabindex="-1"></li>
                <li>
                    <a href="/logout" class="black-text">
                        <i class="material-icons">assignment_return</i>Выйти
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</template>

<script>
export default {
    props: {
        isLoggedIn: {
            type: Boolean,
            required: true
        },
        isDropdownShow: {
            type: Boolean,
            required: true
        },
        userName: {
            type: [String, null],
            required: true
        },
        userRoles: {
            type: [Array, String, null],
            required: true
        },
        baseUrl: {
            type: String,
            required: true
        }
    },
    computed: {
        internalIsDropdownShow: {
            get() {
                return this.isDropdownShow;
            },
            set(value) {
                this.$emit('update:isDropdownShow', value);
            }
        }
    },
    methods: {
        toggleDropdown() {
            this.internalIsDropdownShow = !this.internalIsDropdownShow;
        },
        handleClickOutside(event) {
            if (this.$refs.menu && !this.$refs.menu.contains(event.target)) {
                this.internalIsDropdownShow = false;
            }
        }
    },
    mounted() {
        document.addEventListener('click', this.handleClickOutside);
    },
    beforeUnmount() {
        document.removeEventListener('click', this.handleClickOutside);
    },
    watch: {
        isDropdownShow(newValue) {
            this.internalIsDropdownShow = newValue;
        }
    }
}
</script>
