span.card-title {
    text-align: center;
    font-family: 'Times new roman';
    font-size: 32px !important;
}

.products {
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
}

.product-title {
    font-weight: bold;
}

.validation-errors {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: red;
    margin-top: 30px;
    margin-bottom: -15px;
}

.input-field {
    margin-bottom: 0;
    margin-right: 50px;
    font-size: 18px;
}

.input-create {
    min-width: 160px;
}

button.submitting {
    background-color: grey;
    color: white;
    pointer-events: none;
}

.home-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 100px;
}

.home-carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 100px;
}

.home-carts a,
.home-products a {
    color: inherit;
}

.home-products-item {
    padding-left: 15%;
    padding-bottom: 30px;
}

.orders-item-in-list {
    border: 3px solid #f5f5f5;
    padding: 20px 30px 10px 30px;
}

.orders-item-in-list:hover {
    background-color: #f8f8f8;
}

.carts-item-in-list {
    border: 3px solid #f5f5f5;
    padding: 10px 20px;
}

.carts-item-in-list:hover {
    background-color: #f8f8f8;
}

.users-item-in-list {
    border: 3px solid #f5f5f5;
    padding: 10px 10px 10px 15%;
}

.users-item-in-list:hover {
    background-color: #f8f8f8;
}

.product-image {
    max-width: 220px;
    max-height: 150px;
    height: auto;
}

.avatars-in-user-one-big,
.images-in-product-one-big {
    width: 100%;
    margin-bottom: 20px;
}

.avatars-in-user-one-big img {
    max-width: 150px;
}

.images-in-product-one-big img {
    max-width: 100%;
}

.avatars-in-user-many-small,
.images-in-product-many-small {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
}

.container-for-small-avatars,
.images-in-product-many-small div {
    position: relative;
}

.container-for-small-avatars div {
    overflow: hidden;
}

.home-pagination {
    margin: 100px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination {
    width: 100%;
    text-align: center;
}

.home-pagination button {
    cursor: pointer;
    border-radius: 3px;
}

.left-button {
    width: 205px;
    margin-top: 7px;
    padding-bottom: 0;
}

.right-button {
    width: 205px;
    margin-top: 7px;
    padding-bottom: 0;
}

.left-button:active,
.right-button:active {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #d1d1d1;
}

.home-pagination-text {
    display: flex;
}

.page__wrapper {
    display: flex;
    margin-top: 0;
}

.page {
    min-width: 150px;
    text-align: center;
    margin-top: 12px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #1c9900;
}

@media screen and (max-width: 1490px)  {
    .page {
        min-width: 100px;
    }
}

@media screen and (max-width: 1270px) {
    .page {
        min-width: 25px;
    }
}

.current-page {
    border: 5px solid #46cd01;
}

.container-for-small-avatars {
    margin-left: -10px;
}

.single-small-image {
    height: 100px;
    width: auto;
    margin: 10px 20px 20px 0;
    padding: 0;
}

.single-small-avatar {
    height: 100px;
    width: auto;
    margin: 20px;
    padding: 0;
}

.hidden {
    display: none !important;
}

.ellipsis {
    min-width: 40px;
    font-size: 24px;
    margin: 22px 0;
}

.search-wrapper {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.search-input-div {
    width: 80%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 15px;
}

.search-input-div-bottom {
    display: flex;
    margin-right: 0;
}

.search-input-div-bottom div {
    width: 350px;
}

.empty {
    width: 100%;
}

.search-button {
    margin-top: -20px;
    margin-left: 6px;
    width: 120px;
    height: 80px;
    border-radius: 7px;
    cursor: pointer;
}

.search-button:active {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.select-div-text {
    padding-top: 50px;
    margin-left: 50px;
    font-size: 18px;
    width: 200px;
}

select {
    display: block;
}

.sidenav {
    margin-top: 20px;
    padding-top: 10px;
}

.product-container {
    display: flex;
}

.single-product,
.single-user {
    font-size: 18px;
}

.single-product {
    width: 50%;
    padding-top: 13px;
    padding-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.single-product-image {
    width: 50%;
    margin-top: 30px;
    padding-right: 30px;
}

.user-role,
.user-email,
.user-login,
.single-product div {
    margin: 30px 0;
    text-align: justify;
}

.single-product-text {
    margin: 30px 0;
    text-align: justify;
}

.user-role {
    text-align: left;
}

.single-product span,
span.bold {
    font-weight: bold;
}

.navbar-left {
    width: 100%;
    text-align: right;
}

.navbar-left-text {
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.right.hide-on-small-and-down {
    width: 250px;
}

.right.hide-on-small-and-down li {
    text-align: right;
    width: 100%;
}

.dropdown-content-outer-li {
    position: relative;
}

.dropdown-content {
    margin-top: 0;
    margin-left: 80px !important;
    width: 150px;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content li a {
    padding: 14px 18px;
}

.dropdown-content li a i {
    margin: 0;
}

.visible {
    position: absolute;
    top: 0;
    display: block;
    opacity: 1;
}

.arrow-right {
    width: 80px;
    margin-left: 20px;
}

.arrow-left {
    width: 80px;
    margin-right: 20px;
}

.arrow-left-text,
.arrow-right-text {
    margin-top: 18px;
    font-weight: bold;
    color: #1c9900;
    font-size: 26px;
}

.empty-in-pagination {
    width: 100%;
}

.material-icons.black-text {
    cursor: pointer;
}

.material-icons.black-text:hover {
    background-color: #e6971b;
}

.my-page-title {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.my-page-title h3 {
    margin: 0;
    padding: 0;
}

.pay-order span,
.single-order-choose-currency span,
.order-price span,
.product-description span,
.product-price span {
    font-weight: bold;
}

.orange.lighten-1 {
    background-color: #1c9900;
}

.admin-top,
.admin-bottom,
.admin-bottom-bottom {
    width: 100%;
    display: flex;
}

.admin-products,
.admin-categories,
.admin-users,
.admin-orders,
.admin-carts {
    width: 50%;
}

.admin-products {
    margin: 0 20px 100px 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.admin-categories {
    margin: 0 10px 100px 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.admin-users {
    margin: 0 20px 0 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.admin-orders {
    margin: 0 10px 0 20px;
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.admin-carts {
    margin: 0 20px 100px 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.admin-products h4,
.admin-categories h4,
.admin-users h4,
.admin-orders h4,
.admin-carts h4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}

.admin-products a,
.admin-categories a,
.admin-users a,
.admin-orders a,
.admin-carts a {
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
}

.admin-products a:hover,
.admin-categories a:hover,
.admin-users a:hover,
.admin-orders a:hover,
.admin-carts a:hover {
    color: #42a5f5;
}

.white-text {
    border-bottom: 1px solid white;
}

.main-top-link {
    color: black;
}

.main-top-link:hover {
    color: blue;
}

.main-top-link.admin:hover {
    color: white;
}

.admin-buttons {
    margin: 40px 0 0;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.create-button {
    margin-top: 40px;
}

.create-message {
    font-size: 22px;
    margin-bottom: 20px;
}

.user-avatar-text {
    font-size: 18px;
    font-weight: bold;
}

.user-avatar-text-new {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-password,
.user-id span,
.user-login span,
.user-role span,
.user-email span {
    font-weight: bold;
}

.user-orders-text {
    padding-top: 10px;
    padding-bottom: 20px;
}

.create-user-button button {
    margin-top: 50px;
    width: 200px;
    font-size: 22px;
    height: 80px;
}

.user-image img {
    max-width: 150px;
}

.pictures-in-product-list {
    max-width: 100px;
    max-height: 100px;
}

.product-image-in-order-list {
    height: 100px;
}

.trash-icon-products {
    position: absolute;
    top: 0;
    right: 10px;
    width: 25px;
    height: 25px;
    color: red;
    border: 2px solid red;
    background-color: white;
    padding-bottom: 24px;
    padding-right: 23px;
    cursor: pointer;
    opacity: 0.1;
}

.hover {
    animation: appearance 0.5s forwards;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.trash-icon-avatars {
    font-size: 37px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 40px;
    height: 40px;
    color: red;
    border: 2px solid red;
    background-color: white;
    padding-bottom: 24px;
    padding-right: 23px;
    cursor: pointer;
    opacity: 0;
}

.appeared-trash {
    right: 0;
    animation: appearance-icon-trash 0.5s forwards;
}

@keyframes appearance-icon-trash {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        opacity: 1;
        right: 25px;
    }
}

.check-icon-avatars {
    font-size: 37px;
    position: absolute;
    top: 50px;
    right: 100px;
    width: 40px;
    height: 40px;
    color: green;
    border: 2px solid green;
    background-color: white;
    padding-bottom: 24px;
    padding-right: 23px;
    cursor: pointer;
    opacity: 0;
}

.appeared-check {
    right: 100px;
    animation: appearance-icon-check 0.5s forwards;
}

@keyframes appearance-icon-check {
    0% {
        opacity: 0;
        right: 100px;
    }
    100% {
        opacity: 1;
        right: 75px;
    }
}

.highlight {
    width: 100%;
    font-size: 1.4em;
}

.table-login-column {
    width: 15%;
    max-width: 300px;
    word-wrap: break-word;
    padding-right: 20px;
}

.table-select-column {
    width: 25%;
}

.table-button-column {
    width: 112px;
    padding-left: 20px;
}

.delete-role {
    color: red;
    font-size: 0.8em;
    cursor: pointer;
}

.product-title-new {
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    padding: 15px 10px 0 20px;
    height: 100px;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-upload label {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
}

.custom-file-upload span:first-child {
    margin-right: 10px;
}

.input-roles-div {
    font-size: 1.2em;
}

.input-roles-field {
    font-size: 1.2em;
    min-height: 200px;
    overflow-y: auto;
    display: none;
}

.role-label {
    height: 0;
    margin-top: 10px;
}

.above-icon-save {
    text-indent: 0;
}

.button-icon-save {
    font-size: 30px;
    border-radius: 15px;
    padding: 7px 20px;
    color: #005d9d;
    background-color: white;
    border: 5px solid #005d9d;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-save:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-save:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-icon-edit-delete {
    font-size: 30px;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 0;
    color: #005d9d;
    background-color: white;
    border: 5px solid #005d9d;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-edit-delete:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-edit-delete:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-icon-create {
    font-size: 30px;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 0;
    color: #005d9d;
    background-color: white;
    border: 5px solid #005d9d;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-create:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-create:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-icon-search {
    font-size: 30px;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 35px 0 10px;
    color: #005d9d;
    background-color: white;
    border: 5px solid #005d9d;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-search:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-search:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-icon-search-for-double-lines {
    font-size: 30px;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 40px 0 25px 0;
    color: #005d9d;
    background-color: white;
    border: 5px solid #005d9d;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-search-for-double-lines:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-search-for-double-lines:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-button-div {
    padding-top: 10px;
}

.button-icon-search-for-user-roles {
    font-size: 30px;
    border-radius: 15px;
    padding: 7px 20px;
    margin: 2px 0 19px 0;
    color: #005d9d;
    background-color: white;
    border: 5px solid #005d9d;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-search-for-user-roles:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-search-for-user-roles:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.select-categories-on-product-page {
    margin-top: 40px;
    min-width: 10px;
}

.select-categories-on-product-page {
    min-width: 155px;
}

.card-image-custom {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-image-custom img {
    max-height: 100%;
    max-width: 100%;
}

.product-card {
    height: 100px;
    text-align: justify;
    vertical-align: top;
    padding: 0 10px !important;
}

.card-action {
    font-size: 18px;
}

.input-near-search {
    display: flex;
}

.search-near-input {
    margin: 0 0 0 30px;
}

.search-near-input-double {
    margin: 0 0 0 10px;
}

.collapsible-body {
    display: none;
}

.collapsible-body.active {
    display: block;
}

.rating,
.rating-all-products {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.rating,
.rating-text {
    width: 50%;
}

.rating-container-top {
    display: flex;
    margin-top: 0;
    padding-top: 0;
}

.rating-container-bottom {
    display: flex;
}

.rating-text {
    text-align: right;
    font-size: 18px;
    line-height: 50px;
    padding-right: 5px;
}

.rating {
    justify-content: left;
    padding-left: 5px;
}

.rating-text-left {
    font-size: 18px;
    line-height: 45px;
}

.rating-stars {
    margin: 5px 25px;
}

.rating-button {
    display: flex;
    align-items: center;
}

.add-comment-head h4,
.comments-head h4 {
    text-align: center;
}

.add-comment-head {
    padding-top: 100px;
}

.card-action a {
    text-transform: none !important;
    margin-right: 0 !important;
}

.row-comment {
    margin: 10px;
}

.comment-login {
    font-weight: bold;
    padding: 7px 24px 0 24px;
}

.comment-created {
    font-size: 0.9em;
    padding: 10px 24px 0 24px;
}

.card-content.white-text {
    padding-top: 0;
    word-wrap: break-word;
}

.comment-manage-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.not-updated {
    padding-bottom: 30px;
}

.comment-manage-buttons button {
    width: 150px;
}

.comment-edit-field {
    padding: 0 24px;
    color: white;
}

.material-icons.prefix {
    cursor: pointer;
}

.editing-comment-text {
    color: slategrey;
    font-style: italic;
}

.compare-products-title {
    text-align: center;
    padding-bottom: 40px;
}

.button-compare {
    margin-left: 0;
    font-size: 18px;
    width: 240px;
    text-transform: lowercase;
}

.button-compare::first-letter {
    text-transform: uppercase;
}

.button-compare-high {
    height: 160px;
    font-size: 34px;
    width: 260px;
    font-weight: bold;
    text-transform: lowercase;
    border-radius: 20px;
}

.button-compare-high span {
    text-transform: uppercase;
}

.button-compare-from-all {
    font-size: 22px;
    height: 80px;
    line-height: 30px;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 200px;
}

.top-div-on-single-product {
    display: flex;
}

.button-add-product-to-compare {
    display: flex;
    align-items: end;
    padding: 50px 10px 10px 0;
}

.comment-top {
    display: flex;
    justify-content: space-between;
}

.justify {
    text-align: justify;
}

.instead-link-to-edited-user {
    color: #ffab40;
    font-weight: normal !important;
}

.instead-link-to-created-user {
    color: #039be5;
    font-weight: bold;
}

.btn-floating:hover {
    transform: scale(1.2);
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 10px 10px;
}

.card-content {
    word-wrap: break-word;
}

.properties-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0;
}

.properties-container div {
    width: 50%;
}

.properties-container-right-column div {
    margin-top: 34px;
}

.select-in-update-product-page {
    margin-bottom: 25px;
}

.compared-table-top-width-images,
.compared-table-body,
.compared-table-top {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 30%;
    min-width: 200px;
    padding-top: 0;
    padding-bottom: 0;
    word-wrap: break-word;
}

.compared-table-top-width-images {
    position: relative;
    vertical-align: top;
}

.icons-in-compare-page {
    top: 0;
}

.pictures-in-compare-table {
    max-width: 120px;
    max-height: 120px;
}

.icons-in-compare-page {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 15px;
    font-size: 1.8em;
    color: red;
    cursor: pointer;
}

.compare-table {
    table-layout: fixed;
}

.properties-container-right-column,
.properties-container-middle-column {
    margin-top: 20px;
}

.properties-container-right-column span,
.properties-container-middle-column span {
    font-weight: bold;
}

.properties-container-right-column {
    text-align: right;
    margin-right: 50px;
}

.properties-container-right-column p {
    text-align: left;
}

.delete-property {
    font-size: 1em;
    color: red;
    cursor: pointer;
}

.update-button-with-border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.price-and-shopping-cart {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.price-and-shopping-cart div {
    display: flex;
    align-items: center;
    height: 55px;
    cursor: pointer;
}

.shopping-cart {
    font-size: 40px;
    color: white;
}

.with-shopping-cart {
    padding: 10px 40px 5px 40px;
    border-radius: 10px;
    background-color: #26a69a;
}

.center {
    text-align: center;
}

.message-about-shopping-cart {
    width: 100%;
    text-align: right;
    padding: 0 10px 5px 0;
}

.done {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: blue;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.done:active {
    transform: scale(0.9);
}

.button-to-shopping-cart {
    margin-top: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.small {
    font-size: 12px;
}

.shopping-cart-content-wrapper {
    position: relative;
}

.shopping-cart-content {
    position: absolute;
    right: calc(50% - 450px);
    width: 900px;
    z-index: 4;
    background-color: white;
    padding: 20px;
}

.shopping-cart-on-the-top {
    border: 2px solid black;
    font-size: 1.2em;
    padding: 20px 10px 10px 20px;
}

.shopping-cart-top {
    font-size: 50px !important;
    color: black;
    cursor: pointer;
}

.shopping-cart-content-top {
    display: flex;
    justify-content: space-between;
    color: black;
}

.shopping-cart-content-top-right {
    vertical-align: top;
    padding: 0;
    font-weight: bold;
    line-height: 0.7;
    color: red;
    cursor: pointer;
}

.shopping-cart-content-top-left {
    width: 100%;
    vertical-align: top;
    text-align: center;
}

.shopping-cart-content-left {
    width: 90px;
}

.shopping-cart-content-top-left h2 {
    margin: 0;
}

.button-add-product-to-shopping-cart {
    display: flex;
    justify-content: end;
    padding: 0;
}

.shopping-cart-single {
    font-size: 50px !important;
    cursor: pointer;
}

.single-product-small-text-about-shopping-cart {
    padding: 10px 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(189, 183, 107, 0.9);
    z-index: 3;
}

.app-sidenav {
    z-index: 2;
}

.small-image-in-shopping-cart {
    max-width: 80px;
    max-height: 80px;
}

.shopping-cart-inner-content {
    padding-left: 0 !important;
    display: flex;
    justify-content: normal;
}

.shopping-cart-inner-content-middle {
    width: 720px;
    padding-left: 20px;
}

.shopping-cart-inner-content-right {
    width: 150px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.product-name {
    margin: 0 0 10px 0 !important;
}

.minus,
.plus {
    font-weight: bold;
    font-size: 35px;
    margin-top: 3px;
    padding-top: 7px;
}

.minus:active,
.plus:active {
    background-color: silver;
    border: 5px solid silver;
    transform: scale(0.9);
}

.amount-top {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
    border: 5px solid silver;
    padding: 8px;
}

.minus:hover,
.plus:hover {
    cursor: pointer;
}

.shopping-cart-inner-content-left-trash {
    padding: 0;
    margin: 0;
    width: 43px;
}

.trash-icon-products-in-shopping-cart {
    margin: 15px 0 0 10px;
    height: 25px;
    color: red;
    background-color: white;
    padding-bottom: 24px;
    padding-right: 23px;
    cursor: pointer;
}

.total-price {
    margin: 30px 0 0 10px;
    font-weight: bold;
}

.shopping-cart-buttons {
    display: flex;
    justify-content: space-between;
}

.clear-shopping-cart {
    margin-top: 50px;
}

.clear-cart {
    font-size: 1.2em;
    width: 230px;
    height: 50px;
    text-transform: lowercase;
    border-radius: 10px;
}

.clear-cart::first-letter {
    text-transform: uppercase;
}

.create-order {
    font-size: 1.8em;
    font-weight: bold;
    width: 230px;
    height: 100px;
    text-transform: lowercase;
    background-color: #2bbbad;
    border-radius: 10px;
}

.create-order:hover {
    background-color: #ffab40;
}

.create-order::first-letter {
    text-transform: uppercase;
}

.create-shopping-order {
    margin-top: 0;
}

.shopping-cart-bottom {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.shopping-cart-bottom-right {
    margin-top: 12px
}

.input-on-the-cart-page {
    margin-bottom: 50px;
}

.border-top {
    border-top: 1px solid;
    padding-top: 20px;
}

.single-cart-for-admin {
    width: 900px;
    background-color: white;
}

.add-products {
    height: 175px;
    border: 1px silver;
}

.add-products-to-cart {
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.add-products-to-cart-large {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.add-products-to-cart-large div,
.add-products-to-cart div {
    border: 1px silver;
    margin: 10px;
}

.add-products-to-cart-large div {
    border: 1px silver;
    margin: 20px;
    width: 200px;
}

.add-products-to-cart-bottom {
    border: 1px solid;
    margin: 10px 20px 0;
}

.add-products-to-cart-bottom-error {
    margin: 0 20px;
    text-align: center;
}

.add-product-button {
    width: 430px;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;
}

.top-margin {
    margin-top: 100px;
}

.create-cart-small-text {
    width: 600px;
    margin: 0;
    padding: 0;
}
.custom-left {
    text-align: left !important;
}

.custom-center {
    text-align: center !important;
}
.payment-form {
    width: 400px;
}

.payment-form-row {
    width: 100%;
    margin-bottom: 10px;
}

.payment-form-row input,
.payment-form-row select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select#currency {
    font-size: 17px;
}

button.payment-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.payment-data {
    display: flex;
    justify-content: space-between;
}

.received-payment-data {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-bottom: 8px;
}

.payment-data div {
    width: 70px;
}

.payment-page-content {
    border: 3px solid;
    width: 400px;
    margin: auto;
    z-index: 55554;
    position: relative;
    background-color: white;
}

.payment-page-content-top {
    width: 100%;
    height: 25px;
    background-color: #cccccc;
    border-bottom: 3px solid;
    position: relative;
}

.payment-page-content-top-middle {
    border-right: 3px solid;
    position: absolute;
    top: 0;
    right: 25px;
}

.payment-page-content-top-right {
    top: -9px;
    right: 4px;
    width: 30px;
    position: absolute;
}

.payment-page-content-top-right i {
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
}

.payment-page-center {
    padding: 20px 10px;
    text-align: center;
}

.payment-page-center-red {
    padding: 20px 10px;
    color: red;
    text-align: center;
}

.payment-page-button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.close-payment-page-modal {
    margin: auto;
}

.payment-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.status {
    padding: 7px;
    margin-right: -22px;
    margin-top: -12px;
}

.payed {
    background-color: greenyellow;
}

.pending {
    background-color: gold;
}

.status-single-order {
    margin-bottom: 30px;
}

.status-currency {
    width: 15%;
    margin: 25px 20px 10px;
    font-size: 18px;
}

.currency-text {
    padding: 20px 0;
}

.pay-order {
    margin: 30px 0 0;
}

.pay-order p {
    margin-bottom: 0;
}

.button-icon-pay {
    font-size: 80px;
    border-radius: 15px;
    padding: 7px 20px;
    color: #005d9d;
    background-color: white;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.button-icon-pay:hover {
    color: #ffffff;
    background-color: #00897b;
    border-color: #00897b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button-icon-pay:active {
    color: #ffffff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.single-order-choose-currency {
    margin-top: 30px;
    width: 155px;

}

.order-price {
    margin-top: 30px;
}

.center-button {
    margin-left: 0;
    margin-right: 0;
    display: grid;
    place-items: center;
}

.small-currency {
    min-width: 50px;
    margin: 10px 10px 0 0;
}

.currency-disable {
    width: 1120px;
    text-align: justify;
}

@media screen and (max-width: 1410px) {
    .currency-disable {
        width: 780px;
    }
}

@media screen and (max-width: 1080px) {
    .currency-disable {
        max-width: 540px;
    }
}

@media screen and (max-width: 850px) {
    .currency-disable {
        max-width: 100%;
    }
}

.payment-amount {
    width: 100px !important;
}

.payment-currency {
    width: 40px !important;
}
.google-auth {
    padding-bottom: 10px;
}

.google-btn {
    background-color: #fff;
    color: #757575;
    border: 2px solid #757575;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.google-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #26a69a;
}
