<template>
    <div class="app-main-layout">

        <ShoppingCartContent
            :productsInTheShoppingCart="productsInTheShoppingCart"
            :localProductsInTheShoppingCart="localProductsInTheShoppingCart"
            :shoppingCartContent="shoppingCartContent"
            @hide-shopping-cart-content="hideShoppingCartContent"
        ></ShoppingCartContent>

        <nav :class="['navbar', isLoggedIn && userRoles.includes('admin') ? 'blue' : 'orange', 'lighten-1']">
        <div class="nav-wrapper">
                <div class="navbar-left">
                    <div class="navbar-left-icon">
                        <i @click="isOpenSidebar = !isOpenSidebar" class="material-icons black-text">dehaze</i>
                    </div>
                    <div class="navbar-left-text">
                        <span class="black-text">
                            <a class="main-top-link" :class="{ admin: isLoggedIn && userRoles.includes('admin') }" href="/">
                                Smart Top Life &ndash; вся необходимая электроника для работы, учебы и отдыха!
                            </a>
                        </span>
                    </div>
                </div>
                <i v-if="$store.state.shoppingCartIconIsShown && !shoppingCartContent" class="material-icons shopping-cart-top" @click="showShoppingCartContent">shopping_cart</i>

                <ul v-if="!isLoggedIn" class="right">
                    <li>
                        <a class="black-text" href="/login">
                            Login
                        </a>
                    </li>
                </ul>

                <UserTopRightMenu
                    :isLoggedIn="isLoggedIn"
                    :isDropdownShow="isDropdownShow"
                    :userName="userName"
                    :userRoles="userRoles"
                    :baseUrl="baseUrl"
                    @clear-local-storage="clearLocalStorage"
                    @update:isDropdownShow="updateDropdownShow"
                ></UserTopRightMenu>
            </div>
        </nav>

        <LeftMenu :isLoggedIn="isLoggedIn" :isOpenSidebar="isOpenSidebar"></LeftMenu>

        <main class="app-content" :class="{ full: !isOpenSidebar }">
            <div class="app-page">
                <router-view />
            </div>
        </main>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue" href="#">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
</template>

<script>
import LeftMenu from "@/components/LeftMenu.vue";
import UserTopRightMenu from "@/components/UserTopRightMenu.vue";
import ShoppingCartContent from "@/components/ShoppingCartContent.vue";
import { displayShoppingCartContentFromDataBase, displayShoppingCartContentFromLocalStorage } from "@/methods/handleShoppingCart";
import axios from "axios";

export default {
    components: {
        ShoppingCartContent,
        LeftMenu,
        UserTopRightMenu
    },
    data() {
        return {
            isLoggedIn: false,
            userName: '',
            isOpenSidebar: true,
            isDropdownShow: false,
            userRoles: [],
            isShoppingCartOpen: false,
            shoppingCartContent: false,
            token: localStorage.getItem('authorizedUserToken'),
            userId: localStorage.getItem('authorizedUserId'),
            productsInTheShoppingCart: [],
            localProductsInTheShoppingCart: [],
            totalCartPrice: 0,
            baseUrl: process.env.VUE_APP_THIS_URL,
            currencyRates: []
        }
    },
    mounted() {
        this.userName = localStorage.getItem('authorizedUserName');
        this.userId = localStorage.getItem('authorizedUserId');
        this.userRoles = localStorage.getItem('authorizedUserRoles');
        if (this.userId) {
            this.isLoggedIn = true;
        }
        this.fetchCurrencyRates();
        if (JSON.parse(localStorage.getItem('shoppingCart')).length > 0) {
            this.$store.commit('showShoppingCartIcon');
        }
        this.displayShoppingCartContent();
    },
    created() {
        if (!localStorage.getItem('comparedProducts')) {
            localStorage.setItem('comparedProducts', JSON.stringify([]));
        }

        if (!localStorage.getItem('shoppingCart')) {
            localStorage.setItem('shoppingCart', JSON.stringify([]));
        }
    },
    methods: {
        displayShoppingCartContentFromDataBase,
        displayShoppingCartContentFromLocalStorage,
        clearLocalStorage() {
            localStorage.clear();
        },
        updateDropdownShow(value) {
            this.isDropdownShow = value;
        },
        handleClickOutside() {
            this.isDropdownShow = false;
        },
        async fetchCurrencyRates() {
            const lastUpdateTime = localStorage.getItem('lastUpdateTime');
            const currentTime = Date.now();
            const oneHour = 60 * 60 * 1000;

            if (lastUpdateTime && currentTime - lastUpdateTime < oneHour) {
                this.currencyRates = JSON.parse(localStorage.getItem('currencyRates'));
            } else {
                await axios.get(process.env.VUE_APP_BASE_URL + 'api/currency-rates')
                    .then(response => {
                        const currencyData = response.data;
                        this.currencyRates = Object.keys(currencyData).map(currency => {
                            return { currency: currency, rate: currencyData[currency] };
                        });

                        localStorage.setItem('currencyRates', JSON.stringify(this.currencyRates));
                        localStorage.setItem('lastUpdateTime', currentTime);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        showShoppingCartContent() {
            this.$store.commit('showShoppingCartContent');
            this.shoppingCartContent = true;
            this.displayShoppingCartContent();
        },
        hideShoppingCartContent() {
            this.shoppingCartContent = false;
            if (JSON.parse(localStorage.getItem('shoppingCart')).length < 1) {
                this.$store.commit('hideShoppingCartIcon');
            }
        },
        async displayShoppingCartContent() {
            if (this.userId) {
                await this.displayShoppingCartContentFromDataBase(this.token, this.userId);
            } else {
                this.displayShoppingCartContentFromLocalStorage();
            }
        },
    }
}
</script>
