<template>
    <div>
        <div>
            <div class="search-wrapper">
                <div class="search-input-div input-near-search">
                    <input v-model="searchQuery" type="text" placeholder=
                        "Введите имя интересующего Вас пользователя или оставьте поле пустым для вывода всех пользователей"
                           @keydown.enter="changePageToFirst(); fetchUsers()">
                    <i class="material-icons button-icon-search search-near-input" @click="changePageToFirst(); fetchUsers()">search</i>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h3>Все пользователи</h3>
        </div>
        <section>
            <div class="home-products">
                <div class="users-item-in-list" v-for="user in users" :key="user.id">
                    <router-link :to="{ name: 'single-user', params: { id: user.id } }">
                        <div class="user-id"><span>ID:</span> {{ user.id }}</div>
                        <div class="user-image">
                            <img class="circle" v-if="user.avatar_id" :src="imageStorage + user.avatars.find(avatar => avatar.id === user.avatar_id).avatar_path">
                            <img class="circle" v-else-if="user.avatars && user.avatars.length > 0" :src="imageStorage + user.avatars[0].avatar_path">
                            <img class="circle" v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                        </div>
                        <div class="user-login"><span>Логин:</span> {{ user.login }}</div>
                        <div class="user-email"><span>Описание:</span> {{ user.email }}</div>
                        <div class="user-role"><span>Роли:</span> {{ getUserRoles(user.roles) }}</div>
                    </router-link>
                </div>
            </div>

            <pagination-service
                :current-page="currentPage"
                :total-pages="totalPages"
                @prev-page="goPrevPage"
                @next-page="goNextPage"
                @change-page="changePage"
            ></pagination-service>

        </section>
    </div>
</template>

<script>
import axios from "axios";
import PaginationService from "@/components/PaginationService.vue";

export default {
    components: {
        PaginationService
    },
    data() {
        return {
            users: [],
            currentPage: 1,
            limit: 12,
            totalUsers: 0,
            totalPages: 0,
            searchQuery: '',
            token: localStorage.getItem('authorizedUserToken'),
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            selectedAvatar: null,
            listOfUserRoles: [],
            knownRoles: JSON.parse(localStorage.getItem('knownUserRoles'))

        }
    },
    methods: {
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.fetchUsers();
        },
        changePageToFirst() {
            this.currentPage = 1;
        },
        async fetchUsers() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/users', {
                headers: {
                    Authorization: "Bearer " + this.token
                },
                params: {
                    limit: this.limit,
                    page: this.currentPage,
                    login: this.searchQuery,
                }
            })
                .then((response) => {
                    this.totalUsers = response.data.total;
                    this.totalPages = Math.ceil(this.totalUsers / this.limit);
                    this.users = response.data.data;
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        goPrevPage() {
            if (this.currentPage > 1) {
                --this.currentPage;
                this.fetchUsers();
            }
        },
        goNextPage() {
            if (this.currentPage < this.totalPages) {
                ++this.currentPage;
                this.fetchUsers();
            }
        },
        getUserRoles(rolesArray) {
            if (rolesArray.length < 1) {
                return "Неизвестная роль"
            }
            let roles = rolesArray.map(role => this.knownRoles[role.id - 1].name);
            return roles.join(', ');
        }
    },
    mounted() {
        this.fetchUsers();
    }
}
</script>