<template>
    <div>
        <h1>Добавить нового пользователя</h1>

        <div class="input-field input-create">
            <input type="text" id="login" v-model="user.login" @input="resetErrorLogin">
            <label for="login">Логин:</label>
            <small class="helper-text invalid">{{ errors['errorLogin'] }}</small>
        </div>
        <div class="input-field input-create">
            <input type="text" id="email" v-model="user.email" @input="resetErrorEmail">
            <label for="email">Email:</label>
            <small class="helper-text invalid">{{ errors['errorEmail'] }}</small>
        </div>
        <div>
            <input type="file" multiple @change="avatarsPrepare">
        </div>
        <div class="create-user-button">
            <div class="create-message" v-html="successMessage"></div>
            <i class="material-icons button-icon-create" @click="createUser">add_to_photos</i>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            knownRoles: JSON.parse(localStorage.getItem('knownUserRoles')),
            user: {
                login: '',
                email: ''
            },
            token: localStorage.getItem('authorizedUserToken'),
            errors: [],
            successMessage: '',
            avatars: []
        };
    },
    methods: {
        async createUser() {
            axios.post(process.env.VUE_APP_BASE_URL + 'api/users', {
                login: this.user.login,
                email: this.user.email,
                role: this.user.role
            }, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(response => {
                    let userId = response.data.id;
                    this.avatarsUpload(userId);
                    this.successMessage = `Пользователь добавлен. Для его просмотра Вы можете воспользоваться
                       <a href="${process.env.VUE_APP_THIS_URL}users/show/${userId}">следующей ссылкой</a>.`;
                })
                .catch(error => {
                    if ('login' in error.response.data.errors) {
                        this.errors['errorLogin'] = error.response.data.errors.login[0];
                    }

                    if ('email' in error.response.data.errors) {
                        this.errors['errorEmail'] = error.response.data.errors.email[0];
                    }

                    if ('role' in error.response.data.errors) {
                        this.errors['errorRole'] = error.response.data.errors.role[0];
                    }
                });
        },
        avatarsPrepare(event) {
            this.files = event.target.files;
        },
        async avatarsUpload(userId) {
            if (this.files && this.files.length > 0) {

                const formData = new FormData();

                for (let i = 0; i < this.files.length; i++) {
                    formData.append('avatars[]', this.files[i]);
                }

                await axios.post(process.env.VUE_APP_BASE_URL + 'api/avatars/' + userId, formData, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        resetErrorLogin() {
            if ((this.errors.errorLogin !== '') && (this.user.login.length > 0)) {
                this.errors.errorLogin = '';
            }
        },
        resetErrorEmail() {
            if ((this.errors.errorEmail !== '') && (this.user.email.length > 0)) {
                this.errors.errorEmail = '';
            }
        },
        resetErrorRole() {
            this.errors.errorRole = '';
        }
    }
};
</script>
