<template>
    <div>
        <div class="page-title">
            <h3>Информация о пользователе</h3>
        </div>
        <section>
            <div class="single-user">
                <div class="user-id"><span>ID:</span> {{ user.id }}</div>
                <div class="user-image">
                    <img class="circle" v-if="selectedAvatar" :src="imageStorage + selectedAvatar.avatar_path">
                    <img class="circle" v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                </div>
                <div class="user-login"><span class="bold">Логин:</span> {{ user.login }}</div>
                <div class="user-email"><span class="bold">Email:</span> {{ user.email }}</div>
                <div class="user-role"><span class="bold">Роль:</span> {{ userRoles }}</div>
                <div v-if="this.userOrders.length > 0" class="user-orders-text">
                    <span class="bold">Заказы пользователя:</span>
                    <ul class="collapsible">
                        <li v-for="(order, index) in userOrders" :key="order.id">
                            <div class="collapsible-header" @click="toggleAccordion(index)"><i class="material-icons">arrow_drop_down</i>{{ moment(order.created_at).format('DD.MM.YYYY HH:mm:ss') }}</div>
                            <div class="collapsible-body" :class="{ 'active': activeAccordion === index }"><span class="bold">Заказ id:</span> {{ order.id }}</div>
                            <div class="collapsible-body" :class="{ 'active': activeAccordion === index }"><span class="bold">ID товара:</span> {{ order.product_id }}</div>
                            <div class="collapsible-body" :class="{ 'active': activeAccordion === index }"><span class="bold">Название товара: </span>
                                <router-link v-if="order.product_name !== 'ТОВАР УДАЛЕН'" :to="{ name: 'single-product', params: { id: order.product_id } }">
                                    {{ order.product_name }}
                                </router-link>
                                <span v-else>ТОВАР УДАЛЕН</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div v-if="authorizedUserRoles.includes('admin')" class="admin-buttons">
                    <i class="material-icons button-icon-edit-delete" @click="redirectToUpdatePage">edit</i>
                    <i class="material-icons button-icon-edit-delete" @click="deleteUser">delete_forever</i>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "@/router/router";

export default {
    computed: {
        moment() {
            return moment
        }
    },
    data() {
        return {
            authorizedUserRoles: localStorage.getItem('authorizedUserRoles'),
            token: localStorage.getItem('authorizedUserToken'),
            user: [],
            userId: this.$route.params.id,
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            userOrders: [],
            userRoles: '',
            knownRoles: JSON.parse(localStorage.getItem('knownUserRoles')),
            selectedAvatar: null,
            activeAccordion: null
        }
    },
    methods: {
        async getUser() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/users/' + this.userId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    this.user = response.data;
                    this.getUserRoles(this.user.roles);
                    this.showAvatar(this.user);
                    this.userOrders = this.user.orders;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        redirectToUpdatePage() {
            this.$router.push('/users/update/' + this.userId);
        },
        async deleteUser() {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/users/' + this.userId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    router.push('/users');
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        showAvatar(user) {
            if (user.avatar_id) {
                this.selectedAvatar = user.avatars.find(avatar => avatar.id === user.avatar_id);
                return;
            }
            this.selectedAvatar = user.avatars[0];
        },
        getUserRoles(rolesArray) {
            if (rolesArray.length < 1) {
                this.userRoles = "Неизвестная роль";
                return;
            }

            const roles = rolesArray.map(role => this.knownRoles[role.id - 1].name);

            this.userRoles = roles.join(', ');
        },
        toggleAccordion(index) {
            if (this.activeAccordion === index) {
                this.activeAccordion = null;
            } else {
                this.activeAccordion = index;
            }
        }
    },
    mounted() {
        this.getUser();
    }
}
</script>