<template>
    <div>
        <div class="page-title">
            <h3>Мои данные</h3>
        </div>
        <section>
            <div class="single-user">
                <div class="user-id"><span>Мой id:</span> {{ myself.id }}</div>
                <div class="user-image">
                    <img class="circle" v-if="selectedAvatar" :src="imageStorage + selectedAvatar.avatar_path">
                    <img class="circle" v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                </div>
                <div class="user-login"><span>Мой логин:</span> {{ myself.login }}</div>
                <div class="user-email"><span>Мой email:</span> {{ myself.email }}</div>
                <div class="user-role"><span>Мои роли:</span> {{ myselfRoles }}</div>
                <div v-if="this.myOrders.length > 0" class="user-orders-text"><span class="bold">Мои заказы:</span>
                    <ul class="collapsible">
                        <li v-for="(order, index) in myOrders" :key="order.id">
                            <div class="collapsible-header" @click="toggleAccordion(index)"><i class="material-icons">arrow_drop_down</i>{{ moment(order.created_at).format('DD.MM.YYYY HH:mm:ss') }}</div>
                            <div class="collapsible-body" :class="{ 'active': activeAccordion === index }"><span class="bold">Заказ id:</span> {{ order.id }}</div>
                            <div class="collapsible-body" :class="{ 'active': activeAccordion === index }"><span class="bold">ID товара:</span> {{ order.product_id }}</div>
                            <div class="collapsible-body" :class="{ 'active': activeAccordion === index }"><span class="bold">Название товара: </span>
                                <router-link v-if="order.product_name !== 'ТОВАР УДАЛЕН'" :to="{ name: 'single-product', params: { id: order.product_id } }">
                                    {{ order.product_name }}
                                </router-link>
                                <span v-else>ТОВАР УДАЛЕН</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="admin-buttons">
                <i class="material-icons button-icon-edit-delete" @click="redirectToUpdatePage">edit</i>
                <i class="material-icons button-icon-edit-delete" @click="deleteUser">delete_forever</i>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "@/router/router";

export default {
    computed: {
        moment() {
            return moment
        }
    },
    data() {
        return {
            myId: localStorage.getItem('authorizedUserId'),
            token: localStorage.getItem('authorizedUserToken'),
            myRoles: localStorage.getItem('authorizedUserRoles'),
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            myself: [],
            myselfRoles: '',
            myOrders: [],
            knownRoles: JSON.parse(localStorage.getItem('knownUserRoles')),
            selectedAvatar: null,
            activeAccordion: null,
        }
    },
    methods: {
        async getUser() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/users/' + this.myId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    this.myself = response.data;
                    this.detectUserRoles(this.myself.roles);
                    this.showAvatar(this.myself);
                    this.myOrders = this.myself.orders;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        redirectToUpdatePage() {
            this.$router.push('/users/update/' + this.myId);
        },
        async deleteUser() {
            await axios.delete(process.env.VUE_APP_BASE_URL + 'api/users/' + this.myId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    this.token = '',
                    localStorage.clear();
                    router.push('/');
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        showAvatar(myself) {
            if (myself.avatar_id) {
                this.selectedAvatar = myself.avatars.find(avatar => avatar.id === myself.avatar_id);
                return;
            }
            this.selectedAvatar = myself.avatars[0];
        },
        detectUserRoles(rolesArray) {
            if (rolesArray.length < 1) {
                this.userRoles = "Неизвестная роль";
                return;
            }

            const roles = rolesArray.map(role => this.knownRoles[role.id - 1].name);

            this.myselfRoles = roles.join(', ');
        },
        toggleAccordion(index) {
            if (this.activeAccordion === index) {
                this.activeAccordion = null;
            } else {
                this.activeAccordion = index;
            }
        }
    },
    mounted() {
        this.getUser();
    }
}
</script>