<template>
    <div>
        <div class="page-title">
            <h3>Редактировать пользователя</h3>
        </div>
        <section>
            <div class="single-user-avatar">
                <div class="avatars-in-user">
                    <div class="avatars-in-user-one-big">
                        <img class="circle" v-if="selectedAvatar" :src="imageStorage + selectedAvatar.avatar_path">
                        <img class="circle" v-else src="https://laravel-aws-bucket.s3.eu-central-1.amazonaws.com/used_images/placeholder2.png">
                    </div>
                    <div v-if="numberOfAvatars > 1" class="user-avatar-text">Для выбора или удаления аватара наведите курсор на картинку:</div>
                    <div class="avatars-in-user-many-small">
                        <div @mouseenter="showIcon(index)" @mouseleave="hideIcon(index)" class="container-for-small-avatars" v-for="(avatar, index) in originalUser.avatars" :key="avatar.id">
                            <div>
                            <img class="single-small-avatar circle" :src="imageStorage + avatar.avatar_path">
                            <i @click="deleteAvatar(avatar.id)" class="material-icons trash-icon-avatars" :class="{ 'appeared-trash': showTrashIcon[index] }">delete</i>
                            <i @click="setAvatar(avatar)" class="material-icons check-icon-avatars" :class="{ 'appeared-check': showTrashIcon[index] }">check</i>
                            </div>
                        </div>
                    </div>
                    <div class="user-avatar-text-new">Добавьте новый аватар:</div>
                    <div>
                        <input type="file" multiple @change="avatarsPrepare">
                    </div>
                </div>
            </div>
            <div class="single-user">
                <div class="user-id"><span>ID:</span> {{ originalUser.id }}</div>
                <div class="user-role"><span>Роли:</span> {{ originalUserRoles }}</div>
                <div class="user-login"><span>Логин:</span> {{ originalUser.login }}</div>
                <input type="text" id="login" v-model="user.login" placeholder="Новый логин" @input="resetErrorLogin">
                <small class="helper-text invalid">{{ errors['errorLogin'] }}</small>
                <div class="user-email"><span>Email:</span> {{ originalUser.email }}</div>
                <input type="text" id="email" v-model="user.email" placeholder="Новый email" @input="resetErrorEmail">
                <small class="helper-text invalid">{{ errors['errorEmail'] }}</small>
                <div class="user-password"><span>Новый пароль:</span></div>
                <input type="text" id="password" v-model="user.password" placeholder="Новый пароль" @input="resetErrorPassword">
                <small class="helper-text invalid">{{ errors['errorPassword'] }}</small>
                <div class="update-button">
                    <p class="above-icon-save">Применить изменения:</p>
                        <p><i class="material-icons button-icon-save" @click="updateUser">save</i></p>
                </div>
                <div v-if="this.userOrders.length > 0" class="user-orders-text"><span>Заказы пользователя:</span></div>
                <div class="user-orders" v-for="order in userOrders" :key="order.id">
                    <div class="user-order-id"><span>Заказ id:</span> {{ order.id }}</div>
                    <div class="user-order-created"><span>Создан:</span> {{ moment(order.created_at).format('DD.MM.YYYY HH:mm:ss') }}</div>
                    <div class="user-order-products"><span>Содержит товар:</span> {{ order.product_id }}</div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import router from "@/router/router";
import { reactive } from "vue";

export default {
    computed: {
        moment() {
            return moment
        }
    },
    data() {
        return {
            knownRoles: JSON.parse(localStorage.getItem('knownUserRoles')),
            token: localStorage.getItem('authorizedUserToken'),
            authorizeUserRoles: localStorage.getItem('authorisedUserRoles'),
            originalUser: [],
            userId: this.$route.params.id,
            originalUserRoles: '',
            userOrders: [],
            imageStorage: process.env.VUE_APP_IMAGE_STORAGE,
            user: {
                login: '',
                email: '',
                password: '',
                role: ''
            },
            numberOfAvatars: null,
            selectedAvatar: null,
            errors: [],
            showTrashIcon: reactive({})
        }
    },
    methods: {
        async getOriginalUser() {
            await axios.get(process.env.VUE_APP_BASE_URL + 'api/users/' + this.userId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then((response) => {
                    this.originalUser = response.data;
                    this.showAvatar(this.originalUser);
                    this.getUserRoles(this.originalUser.roles);
                    this.userOrders = this.originalUser.orders;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setAvatar(avatar) {
            this.selectedAvatar = avatar;
            const updateData = {}

            updateData.avatar_id = avatar.id;

            const configs = {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }

            axios.put(process.env.VUE_APP_BASE_URL + 'api/users/' + this.userId, updateData, configs)
                .catch(error => {
                    console.log(error);
                });
        },
        async deleteAvatar(avatarId) {
            axios.delete(process.env.VUE_APP_BASE_URL + 'api/avatars/' + avatarId, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            })
                .then(() => {
                    this.getOriginalUser();
                })
                .catch(error => {
                    console.log(error.response.data.errors);
                })
        },
        async updateUser() {
            const updateData = {};

            if (this.user.login !== '') {
                updateData.login = this.user.login;
            }

            if (this.user.email !== '') {
                updateData.email = this.user.email;
            }

            if (this.user.password !== '') {
                updateData.password = this.user.password;
            }

            const configs = {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }

            try {
                await axios.put(process.env.VUE_APP_BASE_URL + 'api/users/' + this.userId, updateData, configs);
                await this.avatarsUpload(this.userId);
                await router.push('/users/show/' + this.userId);
            } catch (error) {
                if ('role' in error.response.data.errors) {
                    this.errors['errorRole'] = error.response.data.errors.role;
                }

                if ('login' in error.response.data.errors) {
                    this.errors['errorLogin'] = error.response.data.errors.login[0];
                }

                if ('email' in error.response.data.errors) {
                    this.errors['errorEmail'] = error.response.data.errors.email[0];
                }

                if ('password' in error.response.data.errors) {
                    this.errors['errorPassword'] = error.response.data.errors.password[0];
                }
            }
        },
        avatarsPrepare(event) {
            this.files = event.target.files;
        },
        async avatarsUpload(userId) {
            if (this.files && this.files.length > 0) {

                const formData = new FormData();

                for (let i = 0; i < this.files.length; i++) {
                    formData.append('avatars[]', this.files[i]);
                }

                await axios.post(process.env.VUE_APP_BASE_URL + 'api/avatars/' + userId, formData, {
                    headers: {
                        Authorization: "Bearer " + this.token
                    }
                })
                    .catch(error => {
                        console.log(error)
                    });
            }
        },
        showAvatar(originalUser) {
            this.numberOfAvatars = originalUser.avatars.length;

            if (originalUser.avatar_id) {
                this.selectedAvatar = originalUser.avatars.find(avatar => avatar.id === originalUser.avatar_id);

                return;
            }
            this.selectedAvatar = originalUser.avatars[0];
        },
        resetErrorLogin() {
            if ((this.errors.errorLogin !== '') && (this.user.login.length > 0)) {
                this.errors.errorLogin = '';
            }
        },
        resetErrorEmail() {
            if ((this.errors.errorEmail !== '') && (this.user.email.length > 0)) {
                this.errors.errorEmail = '';
            }
        },
        resetErrorPassword() {
            if ((this.errors.errorPassword !== '') && (this.user.password.length !== null)) {
                this.errors.errorPassword = '';
            }
        },
        getUserRoles(rolesArray) {
            if (rolesArray.length < 1) {
                this.userRoles = "Неизвестная роль";
                return;
            }

            const roles = rolesArray.map(role => this.knownRoles[role.id - 1].name);

            this.originalUserRoles = roles.join(', ');
        },
        showIcon(index) {
            this.showTrashIcon[index] = true;
        },
        hideIcon(index) {
            this.showTrashIcon[index] = false;
        }
    },
    mounted() {
        this.getOriginalUser();
    }
}
</script>